@{
ViewData["Title"] = "Trang chủ";
Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Village_Manager.Models


<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FamViệt">
    <meta name="keywords" content="FamViệt">
    <meta name="author" content="FamViệt">
    <link rel="icon" href="~/images/favicon/1.png" type="image/x-icon">
    <title>Nền tảng giao hàng và nông sản FamViệt</title>
    <title>Trang chủ - FamViệt</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/css/vendors/bootstrap.css">

    <!-- wow css -->
    <link rel="stylesheet" href="~/css/animate.min.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/css/bulk-style.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/animate.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<body class="bg-effect">
    <!-- Home Section Start -->
    <section class="home-section pt-2">
        <div class="container-fluid-lg">
            <div class="row g-4">
                <div class="col-xl-8 ratio_65">
                    <div class="home-contain h-100" >
                        <div class="h-100">
                            @if (ViewBag.Bannertopleft != null)
                            {
                                <img src="@Url.Content(ViewBag.Bannertopleft)" style="width: 100%; height: 100%; object-fit: cover;" alt="">
                            }  
                        </div>              
                    </div>
                </div>

                <div class="col-xl-4 ratio_65">
                    <div class="row g-4">
                        <div class="col-xl-12 col-md-6">
                            <div class="home-contain">
                                @if(ViewBag.Bannertopright1 != null){
                                     <img src="@Url.Content(ViewBag.Bannertopright1)" class="bg-img blur-up lazyload"
                                     alt="">
                                }                       
                            </div>
                        </div>

                        <div class="col-xl-12 col-md-6">
                            <div class="home-contain">
                               @if(ViewBag.Bannertopright2 != null){
                                <img src="@Url.Content(ViewBag.Bannertopright2)" class="bg-img blur-up lazyload"
                                     alt="">
                               }
                                <div class="home-detail p-center-left home-p-sm w-75">
                                    <div>
                                        @* <h3 class="mt-0 theme-color fw-bold">Sản phẩm</h3>
                                        <h4 class="text-danger">Nông sản</h4>
                                        <p class="organic">Bắt đầu mua sắm mỗi ngày với thực phẩm hữu cơ</p>
                                        <a class="shop-button">
                                            Mua ngay <i class="fa-solid fa-right-long"></i>
                                        </a> *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Section End -->
   
    <!-- Product Section Start -->
    <section class="product-section">
        <div class="container-fluid-lg">
            <div class="row g-sm-4 g-3">
                <div class="col-xxl-3 col-xl-4 d-none d-xl-block">
                    <div class="p-sticky">
                        <div class="category-menu">
                            <h3>Danh mục</h3>
                            <ul>
                                @if (ViewBag.ProductCategories != null)
                                {
                                    foreach (var category in ViewBag.ProductCategories)
                                    {
                                        <li>
                                            @if (!string.IsNullOrEmpty(category.ImageUrl))
                                            {
                                                <div class="categories-list">
                                                    <h5>
                                                        <a href="@Url.Action("Search", "Shop", new { categoryIds = category.Id })">
                                                            @category.Name
                                                        </a>
                                                    </h5>
                                                </div>
                                            }
                                            else
                                            {
                                                <h5>
                                                    <a href="@Url.Action("Search", "Shop", new { categoryIds = category.Id })">
                                                        @category.Name
                                                    </a>
                                                </h5>
                                            }
                                        </li>
                                    }
                                }
                            </ul>
                        </div>

                        <div class="ratio_156 section-t-space">
                            <div class="home-contain hover-effect">
                              
                                @if(ViewBag.BannerSide1 != null){
                                    <img src="@Url.Content(ViewBag.BannerSide1)" class="bg-img blur-up lazyload"
                                     alt="">
                                }
                            </div>
                        </div>

                        <div class="ratio_medium section-t-space">
                            <div class="home-contain hover-effect">
                                @if(ViewBag.BannerSide2 != null){
                                <img src="@Url.Content(ViewBag.BannerSide2)" class="img-fluid blur-up lazyload"
                                     alt="">
                                }
                                <div class="home-detail p-top-left home-p-medium">
                                    <div>
                                        @* <h4 class="text-yellow text-exo home-banner">Organic</h4>
                                        <h2 class="text-uppercase fw-normal mb-0 text-russo theme-color">fresh</h2>
                                        <h2 class="text-uppercase fw-normal text-title">Vegetables</h2>
                                        <p class="mb-3">Super Offer to 50% Off</p>
                                        <button onclick="location.href = 'shop-left-sidebar.html';"
                                                class="btn btn-animation btn-md mend-auto">
                                            Mua ngay <i class="fa-solid fa-arrow-right icon"></i>
                                        </button> *@
                                    </div>
                                </div>
                            </div>
                        </div>
        
                         </div>
                </div>


                <div class="col-xl-9">
                <div class="title title-flex">
                        <div>
                            <h2>Tiết kiệm hàng đầu hôm nay</h2>
                            <span class="title-leaf">
                                <svg class="icon-width">
                                    <use xlink:href="~/svg/leaf.svg#leaf"></use>
                                </svg>
                            </span>
                            <p>Đừng bỏ lỡ cơ hội giảm giá đặc biệt chỉ trong tuần này.</p>
                        </div>
                        <div class="timing-box">
                            <div class="timing">
                                <i data-feather="clock"></i>
                                <h6 class="name">Kết thúc sau :</h6>
                                <div class="time" id="clockdiv-1" data-hours="1" data-minutes="2" data-seconds="3">
                                    <ul>
                                        <li>
                                            <div class="counter">
                                                <div class="days">
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter">
                                                <div class="hours">
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter">
                                                <div class="minutes">
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter">
                                                <div class="seconds">
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                   
               
                    <div class="section-b-space">
                        <div class="product-border border-row overflow-hidden">
                            <div class="product-box-slider no-arrow">
                                @foreach (var slide in (List<List<Village_Manager.Models.HomepageImage>>)ViewBag.topSaveSlides)
                                {
                                    <div class="slide-item">
                                        <div class="row m-0">
                                    @foreach (var image in slide)
                                    {
                                        <div class="col-12 px-0">
                                            <div class="product-box">
                                                @if (image.ProductImage?.Product != null)
                                                {
                                                    <div class="label-tag">
                                                        <span>MỚI</span>
                                                    </div>
                                                    <div class="product-image">
                                                                <a href="/shop/detail/@image.ProductImage.Product.Id">
                                                            <img src="@Url.Content(image.ProductImage.ImageUrl)"
                                                                 class="img-fluid blur-up lazyload" alt="@image.ProductImage.Product.Name">
                                                        </a>
                                                    </div>
                                                    <div class="product-detail">
                                                                <a href="/shop/detail/@image.ProductImage.Product.Id">
                                                            <h6 class="name">
                                                                @image.ProductImage.Product.Name
                                                            </h6>
                                                        </a>
                                                        <h5 class="sold text-content">
                                                        @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", image.ProductImage.Product.Price)
                                                    </h5>

                                                    <div class="product-rating mt-sm-2 mt-1">
                                                        <ul class="rating">
                                                            @for (int i = 1; i <= 5; i++)
                                                            {
                                                                <li>
                                                                    <i data-feather="star" class="@(i <= 4 ? "fill" : "")"></i>
                                                                </li>
                                                            }
                                                        </ul>
                                                        <h6 class="theme-color">Còn hàng</h6>
                                                    </div>

                                                    <div class="cart_qty qty-box open mt-2">
                                                        <form method="post" asp-controller="Home" asp-action="AddToCart" class="d-flex align-items-center">
                                                            <input type="hidden" name="productId" value="@image.Id" />
                                                            <div class="input-group bg-white w-auto">
                                                                <button type="button" onclick="adjustQty(this, -1)"><i class="fa fa-minus"></i></button>
                                                                <input type="number" name="quantity" class="form-control input-number qty-input text-center" value="1" min="1" />
                                                                <button type="button" onclick="adjustQty(this, 1)"><i class="fa fa-plus"></i></button>
                                                            </div>
                                                            <script>
                                                                function adjustQty(btn, delta) {
                                                                    const input = btn.parentElement.querySelector('.qty-input');
                                                                    let val = parseInt(input.value) || 1;
                                                                    val += delta;
                                                                    if (val < 1) val = 1;
                                                                    input.value = val;
                                                                }
                                                            </script>
                                                            <button type="submit" class="btn btn-sm ms-2" style="background-color: #4caf50; color: white;">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                    </div>
                                                }
                                            </div>
                                            </div>
                                        
                                    }
                                        </div>

                                    </div>
                                }
                              
                            </div>
                        </div>
                    </div>
                    <div class="section-b-space">
                        <div class="title d-block">
                            <h2>Thực phẩm</h2>
                            <span class="title-leaf">
                                <svg class="icon-width">
                                    <use xlink:href="~/svg/leaf.svg#leaf"></use>
                                </svg>
                            </span>
                            <p>Thu thập các sản phẩm từ danh sách của bạn</p>
                        </div>
                    </div>

                    <div class="product-border overflow-hidden wow fadeInUp">
                        <div class="product-box-slider no-arrow">
                            @if (ViewBag.FoodCupboardImages != null && ((List<Village_Manager.Models.HomepageImage>)ViewBag.FoodCupboardImages).Any())
                            {
                                var foodList = (List<Village_Manager.Models.HomepageImage>)ViewBag.FoodCupboardImages;
                                foreach (var image in foodList)
                                {
                                    if (image.ProductImage?.Product != null)
                                    {
                                        <div>
                                            <div class="product-box">
                                                <div class="product-image">
                                                    <a href="/shop/detail/@image.ProductImage.Product.Id">
                                                        <img src="@Url.Content(image.ProductImage.ImageUrl)"
                                                             class="img-fluid blur-up lazyload" alt="@image.ProductImage.Product.Name" />
                                                    </a>
                                                </div>

                                                <div class="product-detail">
                                                    <a href="/shop/detail/@image.ProductImage.Product.Id">
                                                        <h6 class="name">@image.ProductImage.Product.Name</h6>
                                                    </a>
                                                    <h5 class="sold text-content">
                                                        @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", image.ProductImage.Product.Price)
                                                    </h5>

                                                    <div class="product-rating mt-sm-2 mt-1">
                                                        <ul class="rating">
                                                            @for (int i = 1; i <= 5; i++)
                                                            {
                                                                <li>
                                                                    <i data-feather="star" class="@(i <= 4 ? "fill" : "")"></i>
                                                                </li>
                                                            }
                                                        </ul>
                                                        <h6 class="theme-color">Còn hàng</h6>
                                                    </div>

                                                    <div class="cart_qty qty-box open mt-2">
                                                        <form method="post" asp-controller="Home" asp-action="AddToCart" class="d-flex align-items-center">
                                                            <input type="hidden" name="productId" value="@image.Id" />
                                                            <div class="input-group bg-white w-auto">
                                                                <button type="button" onclick="adjustQty(this, -1)"><i class="fa fa-minus"></i></button>
                                                                <input type="number" name="quantity" class="form-control input-number qty-input text-center" value="1" min="1" />
                                                                <button type="button" onclick="adjustQty(this, 1)"><i class="fa fa-plus"></i></button>
                                                            </div>
                                                            <script>
                                                                function adjustQty(btn, delta) {
                                                                    const input = btn.parentElement.querySelector('.qty-input');
                                                                    let val = parseInt(input.value) || 1;
                                                                    val += delta;
                                                                    if (val < 1) val = 1;
                                                                    input.value = val;
                                                                }
                                                            </script>
                                                            <button type="submit" class="btn btn-sm ms-2" style="background-color: #4caf50; color: white;">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>

     <div class="title d-block">
         <div>
        <h2>Bán chạy nhất</h2>
        <span class="title-leaf">
            <svg class="icon-width">
                <use xlink:href="~/svg/leaf.svg#leaf"></use>
            </svg>
        </span>
        <p>Thu thập các sản phẩm từ danh sách của bạn</p>
        </div>
</div>

                    <div class="best-selling-slider product-wrapper wow fadeInUp">
                        @if (ViewBag.BestSellerImages != null && ((List<Village_Manager.Models.HomepageImage>)ViewBag.BestSellerImages).Any())
                        {
                            var bestSellerList = (List<Village_Manager.Models.HomepageImage>)ViewBag.BestSellerImages;
                            int itemsPerGroup = 4;

                            foreach (var group in bestSellerList.Chunk(itemsPerGroup))
                            {
                                <div>
                                    <ul class="product-list">
                                        @foreach (var item in group)
                                        {
                                            if (item.ProductImage?.Product != null)
                                            {
                                                <li>
                                                    <div class="offer-product">
                                                        <a href="/shop/detail/@item.ProductImage.Product.Id" class="offer-image">
                                                            <img src="@Url.Content(item.ProductImage.ImageUrl)"
                                                                 class="blur-up lazyload"
                                                                 alt="@item.ProductImage.Product.Name" />
                                                        </a>

                                                        <div class="offer-detail">
                                                            <div>
                                                                <a href="/shop/detail/@item.ProductImage.Product.Id" class="text-title">
                                                                    <h6 class="name">@item.ProductImage.Product.Name</h6>
                                                                </a>
                                                                <h6 class="price theme-color">
                                                                    @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.ProductImage.Product.Price)
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            }
                        }
                    </div>   
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Location realtime -->
    <div id="geoPrompt" style="
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 16px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-family: 'Segoe UI', Tahoma, sans-serif;
    width: 300px;
">
        <div style="display: flex; align-items: center; margin-bottom: 12px;">
            <img src="https://cdn-icons-png.flaticon.com/512/535/535239.png" alt="Location icon" width="24" height="24" style="margin-right: 10px;">
            <strong>Cho phép truy cập vị trí</strong>
        </div>
        <p style="margin: 0 0 16px; font-size: 14px; color: #444;">
            Ứng dụng cần vị trí để phục vụ bạn tốt hơn.
        </p>
        <div style="display: flex; justify-content: flex-end;">
            <button onclick="denyLocation()" style="
            background: transparent;
            border: 2px solid #ccc;
            color: #555;
            padding: 6px 14px;
            border-radius: 6px;
            margin-right: 10px;
            cursor: pointer;
        ">
                Từ chối
            </button>
            <button onclick="allowLocation()" style="
            background-color: #0DA487;
            border: none;
            color: white;
            padding: 6px 16px;
            border-radius: 6px;
            cursor: pointer;
        ">
                Cho phép
            </button>
        </div>
    </div>

    <script>
        const userId = @Html.Raw(Json.Serialize(ViewBag.UserId ?? 0))
        const hasLocation = @Html.Raw(Json.Serialize(ViewBag.HasAcceptedGeo ?? false))

        document.addEventListener("DOMContentLoaded", function () {
            if (hasLocation === false && userId > 0) {
                setTimeout(() => {
                    document.getElementById("geoPrompt").style.display = "block";
                }, 1000);
            }
        });

        function allowLocation() {
            document.getElementById("geoPrompt").style.display = "none";
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(savePosition, showError);
            } else {
                alert("Trình duyệt không hỗ trợ định vị.");
            }
        }

        function denyLocation() {
            document.getElementById("geoPrompt").style.display = "none";
            console.log("Người dùng từ chối chia sẻ vị trí.");
        }

        function savePosition(position) {
            const data = {
                userId: userId,
                label: "Vị trí tự động",
                address: "",
                latitude: position.coords.latitude,
                longitude: position.coords.longitude
            };

            fetch('/api/location/save', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(res => res.json())
            .then(res => {
                return fetch('/api/location/accept', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ userId: userId })
                });
            })
            .then(res => res.json())
            .then(result => {
                console.log("Vị trí đã được lưu & chấp nhận:", result);
            });
        }

        function showError(error) {
            alert("Không thể lấy vị trí: " + error.message);
        }
    </script>
    <!-- End location realtime -->
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- latest jquery-->
    <script src="~/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="~/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="~/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="~/js/feather/feather.min.js"></script>
    <script src="~/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="~/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="~/js/slick/slick.js"></script>
    <script src="~/js/slick/slick-animation.min.js"></script>
    <script src="~/js/slick/custom_slick.js"></script>

    <!-- Auto Height Js -->
    <script src="~/js/auto-height.js"></script>

    <!-- Timer Js -->
    <script src="~/js/timer1.js"></script>

    <!-- Fly Cart Js -->
    <script src="~/js/fly-cart.js"></script>

    <!-- Quantity js -->
    <script src="~/js/quantity-2.js"></script>

    <!-- WOW js -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/custom-wow.js"></script>

    <!-- script js -->
    <script src="~/js/script.js"></script>

    <!-- theme setting js -->
    <script src="~/js/theme-setting.js"></script>
</body>

</html>