@{
ViewData["Title"] = "Trang chủ";
Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Village_Manager.Models


<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FamViệt">
    <meta name="keywords" content="FamViệt">
    <meta name="author" content="FamViệt">
    <link rel="icon" href="~/images/favicon/1.png" type="image/x-icon">
    <title>Nền tảng giao hàng và nông sản FamViệt</title>
    <title>Trang chủ - FamViệt</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/css/vendors/bootstrap.css">

    <!-- wow css -->
    <link rel="stylesheet" href="~/css/animate.min.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/css/bulk-style.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/animate.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<body class="bg-effect">
    <!-- Home Section Start -->
    <section class="home-section pt-2">
        <div class="container-fluid-lg">
            <div class="row g-4">
                <div class="col-xl-8 ratio_65">
                    <div class="home-contain h-100" >
                        <div class="h-100">
                            @if (ViewBag.Bannertopleft != null)
                            {
                                <img src="@Url.Content(ViewBag.Bannertopleft)" style="width: 100%; height: auto"
                                         alt="">
                                
                            }  
                        </div>              
                    </div>
                </div>

                <div class="col-xl-4 ratio_65">
                    <div class="row g-4">
                        <div class="col-xl-12 col-md-6">
                            <div class="home-contain">
                                @if(ViewBag.Bannertopright1 != null){
                                     <img src="@Url.Content(ViewBag.Bannertopright1)" class="bg-img blur-up lazyload"
                                     alt="">
                                }                       
                            </div>
                        </div>

                        <div class="col-xl-12 col-md-6">
                            <div class="home-contain">
                               @if(ViewBag.Bannertopright2 != null){
                                <img src="@Url.Content(ViewBag.Bannertopright2)" class="bg-img blur-up lazyload"
                                     alt="">
                               }
                                <div class="home-detail p-center-left home-p-sm w-75">
                                    <div>
                                        <h3 class="mt-0 theme-color fw-bold">Sản phẩm</h3>
                                        <h4 class="text-danger">Nông sản</h4>
                                        <p class="organic">Bắt đầu mua sắm mỗi ngày với thực phẩm hữu cơ</p>
                                        <a href="shop-left-sidebar.html" class="shop-button">
                                            Mua ngay <i class="fa-solid fa-right-long"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Section End -->
   
    <!-- Product Section Start -->
    <section class="product-section">
        <div class="container-fluid-lg">
            <div class="row g-sm-4 g-3">
                <div class="col-xxl-3 col-xl-4 d-none d-xl-block">
                    <div class="p-sticky">
                        <div class="category-menu">
                            <h3>Danh mục</h3>
                            <ul>
                                @if(ViewBag.ProductCategories != null)
                                {
                                    @foreach (var category in ViewBag.ProductCategories)
                                    {
                                        <li>
                                            
                                                @if (!String.IsNullOrEmpty(category.ImageUrl))
                                                {
                                                     <div class="categories-list">
                                                    @* <img src="@Url.Content(category.ImageUrl)" class="blur-up lazyload" alt="" /> *@
                                                          <h5> 
                                                              <a href="shop-left-sidebar.html" > @category.Name</a>
                                                              </h5>
                                                               </div>
                                                  
                                                }
                                                else
                                                {
                                                    <h5>
                                                        <a href="shop-left-sidebar.html">Không tìm thấy danh mục</a>
                                                    </h5>
                                                }
                                              
                                           
                                        </li>
                                    }
                                }

                                

                            </ul>
                        </div>

                        <div class="ratio_156 section-t-space">
                            <div class="home-contain hover-effect">
                              
                                @if(ViewBag.BannerSide1 != null){
                                    <img src="@Url.Content(ViewBag.BannerSide1)" class="bg-img blur-up lazyload"
                                     alt="">
                                }
                                <div class="home-detail p-top-left home-p-medium">
                                    <div>
                                        <h6 class="text-yellow home-banner">Hải sản</h6>
                                        <h3 class="text-uppercase fw-normal">
                                            <span class="theme-color fw-bold">Tươi mới</span> Sản phẩm
                                        </h3>
                                        <h3 class="fw-light">mỗi giờ</h3>
                                        <button onclick="location.href = 'shop-left-sidebar.html';"
                                                class="btn btn-animation btn-md mend-auto">
                                            Mua ngay <i class="fa-solid fa-arrow-right icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ratio_medium section-t-space">
                            <div class="home-contain hover-effect">
                                @if(ViewBag.BannerSide2 != null){
                                <img src="@Url.Content(ViewBag.BannerSide2)" class="img-fluid blur-up lazyload"
                                     alt="">
                                }
                                <div class="home-detail p-top-left home-p-medium">
                                    <div>
                                        <h4 class="text-yellow text-exo home-banner">Organic</h4>
                                        <h2 class="text-uppercase fw-normal mb-0 text-russo theme-color">fresh</h2>
                                        <h2 class="text-uppercase fw-normal text-title">Vegetables</h2>
                                        <p class="mb-3">Super Offer to 50% Off</p>
                                        <button onclick="location.href = 'shop-left-sidebar.html';"
                                                class="btn btn-animation btn-md mend-auto">
                                            Mua ngay <i class="fa-solid fa-arrow-right icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                         </div>
                </div>


                <div class="col-xl-9">
                <div class="title title-flex">
                        <div>
                            <h2>Tiết kiệm hàng đầu hôm nay</h2>
                            <span class="title-leaf">
                                <svg class="icon-width">
                                    <use xlink:href="~/svg/leaf.svg#leaf"></use>
                                </svg>
                            </span>
                            <p>Đừng bỏ lỡ cơ hội giảm giá đặc biệt chỉ trong tuần này.</p>
                        </div>
                        <div class="timing-box">
                            <div class="timing">
                                <i data-feather="clock"></i>
                                <h6 class="name">Kết thúc sau :</h6>
                                <div class="time" id="clockdiv-1" data-hours="1" data-minutes="2" data-seconds="3">
                                    <ul>
                                        <li>
                                            <div class="counter">
                                                <div class="days">
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter">
                                                <div class="hours">
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter">
                                                <div class="minutes">
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter">
                                                <div class="seconds">
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                   
               
                    <div class="section-b-space">
                        <div class="product-border border-row overflow-hidden">
                            <div class="product-box-slider no-arrow">
                                @foreach (var slide in (List<List<Village_Manager.Models.HomepageImage>>)ViewBag.topSaveSlides)
                                {
                                    <div class="slide-item">
                                        <div class="row m-0">
                                    @foreach (var image in slide)
                                    {
                                        <div class="col-12 px-0">
                                            <div class="product-box">
                                                @if (image.ProductImage?.Product != null)
                                                {
                                                    <div class="label-tag">
                                                        <span>MỚI</span>
                                                    </div>
                                                    <div class="product-image">
                                                        <a href="product-left-thumbnail.html">
                                                            <img src="@Url.Content(image.ProductImage.ImageUrl)"
                                                                 class="img-fluid blur-up lazyload" alt="@image.ProductImage.Product.Name">
                                                        </a>
                                                        <ul class="product-option">
                                                            <li data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="View">
                                                                <a href="javascript:void(0)" data-bs-toggle="modal"
                                                                   data-bs-target="#view">
                                                                    <i data-feather="eye"></i>
                                                                </a>
                                                            </li>

                                                            <li data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="Compare">
                                                                <a href="compare.html">
                                                                    <i data-feather="refresh-cw"></i>
                                                                </a>
                                                            </li>

                                                            <li data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="Wishlist">
                                                                <a href="wishlist.html" class="notifi-wishlist">
                                                                    <i data-feather="heart"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="product-detail">
                                                        <a href="product-left-thumbnail.html">
                                                            <h6 class="name">
                                                                @image.ProductImage.Product.Name
                                                            </h6>
                                                        </a>
                                                        <h5 class="sold text-content">
                                                            <span class="theme-color price">$@image.ProductImage.Product.Price.ToString("F2")</span>
                                                        </h5>

                                                        <div class="product-rating mt-sm-2 mt-1">
                                                            <ul class="rating">
                                                                @for (int i = 1; i <= 5; i++)
                                                                {
                                                                    <li>
                                                                        <i data-feather="star" class="@(i <= 4 ? "fill" : "")"></i>
                                                                    </li>
                                                                }
                                                            </ul>

                                                            <h6 class="theme-color">Còn hàng</h6>
                                                        </div>

                                                        <div class="add-to-cart-box">
                                                            <button class="btn btn-add-cart addcart-button">
                                                                Thêm
                                                                <span class="add-icon">
                                                                    <i class="fa-solid fa-plus"></i>
                                                                </span>
                                                            </button>
                                                            <div class="cart_qty qty-box">
                                                                <div class="input-group">
                                                                    <button type="button" class="qty-left-minus"
                                                                            data-type="minus" data-field="">
                                                                        <i class="fa fa-minus"></i>
                                                                    </button>
                                                                    <input class="form-control input-number qty-input"
                                                                           type="text" name="quantity" value="0">
                                                                    <button type="button" class="qty-right-plus"
                                                                            data-type="plus" data-field="">
                                                                        <i class="fa fa-plus"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <!-- Fallback khi không có sản phẩm -->
                                                    <div class="product-image">
                                                        <a href="product-left-thumbnail.html">
                                                            <img src="~/images/vegetable/product/4.png"
                                                                 class="img-fluid blur-up lazyload" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-detail">
                                                        <a href="product-left-thumbnail.html">
                                                            <h6 class="name">Product Name</h6>
                                                        </a>
                                                        <h5 class="sold text-content">
                                                            <span class="theme-color price">$26.69</span>
                                                            <del>28.56</del>
                                                        </h5>
                                                    </div>
                                                }
                                            </div>
                                            </div>
                                        
                                    }
                                        </div>

                                    </div>
                                }
                              
                            </div>
                        </div>
                    </div>
                    <div class="section-b-space">
                        <div class="title d-block">
                            <h2>Tủ thực phẩm</h2>
                            <span class="title-leaf">
                                <svg class="icon-width">
                                    <use xlink:href="~/svg/leaf.svg#leaf"></use>
                                </svg>
                            </span>
                            <p>Trợ lý ảo sẽ thu thập các sản phẩm từ danh sách của bạn</p>
                        </div>
                    </div>

                    <div class="product-border overflow-hidden wow fadeInUp">
                        <div class="product-box-slider no-arrow">
                            @if (ViewBag.FoodCupboardImages != null && ((List<Village_Manager.Models.HomepageImage>)ViewBag.FoodCupboardImages).Any())
                            {
                                var foodList = (List<Village_Manager.Models.HomepageImage>)ViewBag.FoodCupboardImages;
                                foreach (var image in foodList)
                                {
                                    if (image.ProductImage?.Product != null)
                                    {
                                        <div>
                                            <div class="product-box">
                                                <div class="product-image">
                                                    <a href="product-left-thumbnail.html">
                                                        <img src="@Url.Content(image.ProductImage.ImageUrl)"
                                                             class="img-fluid blur-up lazyload" alt="@image.ProductImage.Product.Name" />
                                                    </a>
                                                    <ul class="product-option">
                                                        <li title="View">
                                                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                                                <i data-feather="eye"></i>
                                                            </a>
                                                        </li>
                                                        <li title="Compare">
                                                            <a href="compare.html"><i data-feather="refresh-cw"></i></a>
                                                        </li>
                                                        <li title="Wishlist">
                                                            <a href="wishlist.html" class="notifi-wishlist"><i data-feather="heart"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="product-detail">
                                                    <a href="product-left-thumbnail.html">
                                                        <h6 class="name">@image.ProductImage.Product.Name</h6>
                                                    </a>
                                                    <h5 class="sold text-content">
                                                        <span class="theme-color price">$@image.ProductImage.Product.Price.ToString("F2")</span>
                                                    </h5>

                                                    <div class="product-rating mt-sm-2 mt-1">
                                                        <ul class="rating">
                                                            @for (int i = 1; i <= 5; i++)
                                                            {
                                                                <li>
                                                                    <i data-feather="star" class="@(i <= 4 ? "fill" : "")"></i>
                                                                </li>
                                                            }
                                                        </ul>
                                                        <h6 class="theme-color">Còn hàng</h6>
                                                    </div>

                                                    <div class="add-to-cart-box">
                                                        <button class="btn btn-add-cart addcart-button">
                                                            Thêm
                                                            <span class="add-icon"><i class="fa-solid fa-plus"></i></span>
                                                        </button>
                                                        <div class="cart_qty qty-box">
                                                            <div class="input-group">
                                                                <button type="button" class="qty-left-minus"><i class="fa fa-minus"></i></button>
                                                                <input class="form-control input-number qty-input" type="text" name="quantity" value="0" />
                                                                <button type="button" class="qty-right-plus"><i class="fa fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                            else
                            {
                                <!-- fallback nếu không có dữ liệu -->
                                <div>
                                    <div class="product-box">
                                        <div class="product-image">
                                            <a href="product-left-thumbnail.html">
                                                <img src="~/images/vegetable/product/4.png"
                                                     class="img-fluid blur-up lazyload" alt="Dark Chocolate" />
                                            </a>
                                        </div>
                                        <div class="product-detail">
                                            <a href="product-left-thumbnail.html">
                                                <h6 class="name">Dark Chocolate</h6>
                                            </a>
                                            <h5 class="sold text-content">
                                                <span class="theme-color price">$26.69</span>
                                                <del>28.56</del>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
    
               

          
  

     <div class="title d-block">
         <div>
        <h2>Bán chạy nhất</h2>
        <span class="title-leaf">
            <svg class="icon-width">
                <use xlink:href="~/svg/leaf.svg#leaf"></use>
            </svg>
        </span>
        <p>Trợ lý ảo sẽ thu thập các sản phẩm từ danh sách của bạn</p>
        </div>
</div>

<div class="best-selling-slider product-wrapper wow fadeInUp">
    @if (ViewBag.BestSellerImages != null && ((List<Village_Manager.Models.HomepageImage>)ViewBag.BestSellerImages).Any())
    {
                        var bestSellerList = (List<Village_Manager.Models.HomepageImage>)ViewBag.bestSellerImages;
        int count = 0;
        int itemsPerGroup = 4;

        foreach (var group in bestSellerList.Chunk(itemsPerGroup))
        {
            <div>
                <ul class="product-list">
                    @foreach (var item in group)
                    {
                        if (item.ProductImage?.Product != null)
                        {
                            <li>
                                <div class="offer-product">
                                    <a href="product-left-thumbnail.html" class="offer-image">
                                        <img src="@Url.Content(item.ProductImage.ImageUrl)"
                                             class="blur-up lazyload"
                                             alt="@item.ProductImage.Product.Name" />
                                    </a>

                                    <div class="offer-detail">
                                        <div>
                                            <a href="product-left-thumbnail.html" class="text-title">
                                                <h6 class="name">@item.ProductImage.Product.Name</h6>
                                            </a>
                                            <span>1 L</span> <!-- Có thể thay bằng đơn vị thực tế -->
                                            <h6 class="price theme-color">
                                                $@item.ProductImage.Product.Price.ToString("F2")
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        }
    }
    else
    {
        <!-- Fallback nếu không có dữ liệu -->
        <div>
            <ul class="product-list">
                <li>
                    <div class="offer-product">
                        <a href="product-left-thumbnail.html" class="offer-image">
                            <img src="~/images/vegetable/product/19.png"
                                 class="blur-up lazyload" alt="Fallback Product" />
                        </a>
                        <div class="offer-detail">
                            <div>
                                <a href="product-left-thumbnail.html" class="text-title">
                                    <h6 class="name">Dầu hướng dương Good Life</h6>
                                </a>
                                <span>1 L</span>
                                <h6 class="price theme-color">$10.09</h6>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    }              

                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
    <!-- Newsletter Section Start -->
    <section class="newsletter-section section-b-space">
        <div class="container-fluid-lg">
            <div class="newsletter-box newsletter-box-2">
                <div class="newsletter-contain py-5">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xxl-4 col-lg-5 col-md-7 col-sm-9 offset-xxl-2 offset-md-1">
                                <div class="newsletter-detail">
                                    <h2>Đăng ký nhận bản tin và nhận...</h2>
                                    <h5>Giảm giá 20.000đ cho đơn hàng đầu tiên</h5>
                                    <div class="input-box">
                                        <input type="email" class="form-control" id="exampleFormControlInput1"
                                               placeholder="Nhập email của bạn">
                                        <i class="fa-solid fa-envelope arrow"></i>
                                        <button class="sub-btn  btn-animation">
                                            <span class="d-sm-block d-none">Đăng ký</span>
                                            <i class="fa-solid fa-arrow-right icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade theme-modal view-modal" id="view" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header p-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row g-sm-4 g-2">
                        <div class="col-lg-6">
                            <div class="slider-image">
                                <img src="~/images/product/category/1.jpg" class="img-fluid blur-up lazyload"
                                     alt="">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="right-sidebar-modal">
                                <h4 class="title-name">Bánh quy bơ đậu phộng cao cấp 600g</h4>
                                <h4 class="price">$36.99</h4>
                                <div class="product-rating">
                                    <ul class="rating">
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star"></i>
                                        </li>
                                    </ul>
                                    <span class="ms-2">8 đánh giá</span>
                                    <span class="ms-2 text-danger">Đã bán 6 trong 16 giờ qua</span>
                                </div>

                                <div class="product-detail">
                                    <h4>Chi tiết sản phẩm :</h4>
                                    <p>
                                        Candy canes sugar plum tart cotton candy chupa chups sugar plum chocolate I love.
                                        Caramels marshmallow icing dessert candy canes I love soufflé I love toffee.
                                        Marshmallow pie sweet sweet roll sesame snaps tiramisu jelly bear claw. Bonbon
                                        muffin I love carrot cake sugar plum dessert bonbon.
                                    </p>
                                </div>

                                <ul class="brand-list">
                                    <li>
                                        <div class="brand-box">
                                            <h5>Thương hiệu:</h5>
                                            <h6>Black Forest</h6>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="brand-box">
                                            <h5>Mã sản phẩm:</h5>
                                            <h6>W0690034</h6>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="brand-box">
                                            <h5>Loại sản phẩm:</h5>
                                            <h6>White Cream Cake</h6>
                                        </div>
                                    </li>
                                </ul>

                                <div class="select-size">
                                    <h4>Kích thước bánh :</h4>
                                    <select class="form-select select-form-size">
                                        <option selected>Chọn kích thước</option>
                                        <option value="1.2">1/2 KG</option>
                                        <option value="0">1 KG</option>
                                        <option value="1.5">1/5 KG</option>
                                        <option value="red">Red Roses</option>
                                        <option value="pink">With Pink Roses</option>
                                    </select>
                                </div>

                                <div class="modal-button">
                                    <button onclick="location.href = 'cart.html';"
                                            class="btn btn-md add-cart-button icon">
                                        Thêm vào giỏ hàng
                                    </button>
                                    <button onclick="location.href = 'product-left-thumbnail.html';"
                                            class="btn theme-bg-color view-button icon text-white fw-bold btn-md">
                                        Xem chi tiết
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quick Xem Modal Box End -->
    <!-- Location Modal Start -->
    <div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chọn vị trí giao hàng</h5>
                    <p class="mt-1 text-content">Nhập địa chỉ để nhận ưu đãi phù hợp khu vực của bạn.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="location-list">
                        <div class="search-input">
                            <input type="search" class="form-control" placeholder="Tìm khu vực của bạn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>

                        <div class="disabled-box">
                            <h6>Chọn vị trí</h6>
                        </div>

                        <ul class="location-select custom-height">
                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Alabama</h6>
                                    <span>Tối thiểu: 130</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Arizona</h6>
                                    <span>Tối thiểu: 150</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>California</h6>
                                    <span>Tối thiểu: 110</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Colorado</h6>
                                    <span>Tối thiểu: 140</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Florida</h6>
                                    <span>Tối thiểu: 160</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Georgia</h6>
                                    <span>Tối thiểu: 120</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Kansas</h6>
                                    <span>Tối thiểu: 170</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Minnesota</h6>
                                    <span>Tối thiểu: 120</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>New York</h6>
                                    <span>Tối thiểu: 110</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Washington</h6>
                                    <span>Tối thiểu: 130</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Location Modal End -->
    <!-- Deal Box Modal Start -->
    <div class="modal fade theme-modal deal-modal" id="deal-box" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title w-100" id="deal_today">Ưu đãi hôm nay</h5>
                        <p class="mt-1 text-content">Ưu đãi phù hợp dành cho bạn.</p>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="deal-offer-box">
                        <ul class="deal-offer-list">
                            <li class="list-1">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="~/images/vegetable/product/10.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Mua 1 tặng 1</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-2">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="~/images/vegetable/product/11.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Mua 1 tặng 1</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-3">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="~/images/vegetable/product/12.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Mua 1 tặng 1</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-1">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="~/images/vegetable/product/13.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Mua 1 tặng 1</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Deal Box Modal End -->
    <!-- Tap to top button start -->
    <div class="theme-option">
        <div class="back-to-top">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top button end -->
    <!-- Location realtime -->
    <div id="geoPrompt" style="
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 16px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-family: 'Segoe UI', Tahoma, sans-serif;
    width: 300px;
">
        <div style="display: flex; align-items: center; margin-bottom: 12px;">
            <img src="https://cdn-icons-png.flaticon.com/512/535/535239.png" alt="Location icon" width="24" height="24" style="margin-right: 10px;">
            <strong>Cho phép truy cập vị trí</strong>
        </div>
        <p style="margin: 0 0 16px; font-size: 14px; color: #444;">
            Ứng dụng cần vị trí để phục vụ bạn tốt hơn.
        </p>
        <div style="display: flex; justify-content: flex-end;">
            <button onclick="denyLocation()" style="
            background: transparent;
            border: 2px solid #ccc;
            color: #555;
            padding: 6px 14px;
            border-radius: 6px;
            margin-right: 10px;
            cursor: pointer;
        ">
                Từ chối
            </button>
            <button onclick="allowLocation()" style="
            background-color: #0DA487;
            border: none;
            color: white;
            padding: 6px 16px;
            border-radius: 6px;
            cursor: pointer;
        ">
                Cho phép
            </button>
        </div>
    </div>

    <script>
        const userId = @Html.Raw(Json.Serialize(ViewBag.UserId ?? 0))
        const hasLocation = @Html.Raw(Json.Serialize(ViewBag.HasAcceptedGeo ?? false))

        document.addEventListener("DOMContentLoaded", function () {
            if (hasLocation === false && userId > 0) {
                setTimeout(() => {
                    document.getElementById("geoPrompt").style.display = "block";
                }, 1000);
            }
        });

        function allowLocation() {
            document.getElementById("geoPrompt").style.display = "none";
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(savePosition, showError);
            } else {
                alert("Trình duyệt không hỗ trợ định vị.");
            }
        }

        function denyLocation() {
            document.getElementById("geoPrompt").style.display = "none";
            console.log("Người dùng từ chối chia sẻ vị trí.");
        }

        function savePosition(position) {
            const data = {
                userId: userId,
                label: "Vị trí tự động",
                address: "",
                latitude: position.coords.latitude,
                longitude: position.coords.longitude
            };

            fetch('/api/location/save', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(res => res.json())
            .then(res => {
                return fetch('/api/location/accept', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ userId: userId })
                });
            })
            .then(res => res.json())
            .then(result => {
                console.log("Vị trí đã được lưu & chấp nhận:", result);
            });
        }

        function showError(error) {
            alert("Không thể lấy vị trí: " + error.message);
        }
    </script>
    <!-- End location realtime -->
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- latest jquery-->
    <script src="~/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="~/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="~/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="~/js/feather/feather.min.js"></script>
    <script src="~/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="~/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="~/js/slick/slick.js"></script>
    <script src="~/js/slick/slick-animation.min.js"></script>
    <script src="~/js/slick/custom_slick.js"></script>

    <!-- Auto Height Js -->
    <script src="~/js/auto-height.js"></script>

    <!-- Timer Js -->
    <script src="~/js/timer1.js"></script>

    <!-- Fly Cart Js -->
    <script src="~/js/fly-cart.js"></script>

    <!-- Quantity js -->
    <script src="~/js/quantity-2.js"></script>

    <!-- WOW js -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/custom-wow.js"></script>

    <!-- script js -->
    <script src="~/js/script.js"></script>

    <!-- theme setting js -->
    <script src="~/js/theme-setting.js"></script>
</body>

</html>