@using Village_Manager.Models;
@{
    ViewData["Title"] = "Bảng điều khiển nông dân";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = ViewBag.Categories as List<ProductCategory>;
}
@model Village_Manager.ViewModel.FamerDashboardViewModel;
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FamViệt">
    <meta name="keywords" content="FamViệt">
    <meta name="author" content="FamViệt">
    <link rel="icon" href="~/images/favicon/1.png" type="image/x-icon">
    <title>Bảng điều khiển nông dân - FamViệt</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/css/vendors/bootstrap.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<body>
    <!-- User Dashboard Section Start -->
    <section class="user-dashboard-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-3 col-lg-4">
                    <div class="dashboard-left-sidebar">
                        <div class="close-button d-flex d-lg-none">
                            <button class="close-sidebar">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <div class="profile-box">
                            <div class="cover-image">
                                <img src="~/images/inner-page/cover-img.jpg" class="img-fluid blur-up lazyload"
                                     alt="">
                            </div>

                            <div class="profile-contain">
                                <div class="profile-image">
                                    <div class="position-relative">
                                        <img src="~/images/vendor-page/logo.png"
                                             class="blur-up lazyload update_img" alt="">
                                    </div>
                                </div>

                                <div class="profile-name">
                                    <li> @Model.Famer.FullName</li>
                                    <h6 class="text-content">@Model.User.Email</h6>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-pills user-nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a href="#pills-tabContent" class="nav-link active" id="pills-dashboard-tab"
                                   data-bs-toggle="pill" data-bs-target="#pills-dashboard" role="tab">
                                    <i data-feather="home"></i>
                                    Bảng điều khiển
                                </a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-product-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-product" type="button" role="tab">
                                    <i data-feather="shopping-bag"></i>Sản phẩm
                                </button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-order-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-order" type="button" role="tab">
                                    <i data-feather="shopping-bag"></i>Đơn hàng
                                </button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-supply-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-supply" type="button" role="tab">
                                    <i data-feather="package"></i>Yêu cầu cung cấp
                                </button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-profile" type="button" role="tab">
                                    <i data-feather="user"></i>
                                    Hồ sơ
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xxl-9 col-lg-8">
                    <div class="dashboard-right-sidebar">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel">
                                <div class="dashboard-home">
                                    <div class="title">
                                        <h2>Bảng điều khiển</h2>
                                    </div>

                                    <div class="dashboard-user-name">
                                        <h6 class="text-content">Xin chào, <b class="text-title">@Model.Famer.FullName</b></h6>
                                        <p class="text-content">
                                            Từ bảng điều khiển của bạn, bạn có thể xem tổng hợp các hoạt động gần đây và cập nhật thông tin tài khoản của mình. Chọn một liên kết dưới đây để xem hoặc chỉnh sửa thông tin.
                                        </p>
                                    </div>

                                    <div class="total-box">
                                        <div class="row g-sm-4 g-3">
                                            <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                                                <div class="total-contain">
                                                    <img src="~/images/svg/order.svg"
                                                         class="img-1 blur-up lazyload" alt="">
                                                    <img src="~/images/svg/order.svg" class="blur-up lazyload"
                                                         alt="">
                                                    <div class="total-detail">
                                                        <h5>Số lượng sản phẩm</h5>
                                                        <h3>@ViewBag.TotalProductTypes</h3>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                                                <div class="total-contain">
                                                    <img src="~/images/svg/pending.svg"
                                                         class="img-1 blur-up lazyload" alt="">
                                                    <img src="~/images/svg/pending.svg" class="blur-up lazyload"
                                                         alt="">
                                                    <div class="total-detail">
                                                        <h5>Đã bán</h5>
                                                        <h3>@ViewBag.TotalSold</h3>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                                                <div class="total-contain">
                                                    <img src="~/images/svg/wishlist.svg"
                                                         class="img-1 blur-up lazyload" alt="">
                                                    <img src="~/images/svg/wishlist.svg"
                                                         class="blur-up lazyload" alt="">
                                                    <div class="total-detail">
                                                        <h5>Kho</h5>
                                                        <h3>@ViewBag.TotalQuantityInStock</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-4">
                                        <div class="col-xxl-6">
                                            <div class="table-responsive dashboard-bg-box">
                                                <div class="dashboard-title mb-4">
                                                    <h3>Sản phẩm</h3>
                                                </div>

                                                <table class="table product-table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Hình ảnh</th>
                                                            <th scope="col">Tên sản phẩm</th>
                                                            <th scope="col">Giá</th>
                                                            <th scope="col">Khuyến mãi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.ProductWithSalesList != null && Model.ProductWithSalesList.Any())
                                                        {
                                                            foreach (var item in Model.ProductWithSalesList)
                                                            {
                                                                var product = item.Product;
                                                                <tr>
                                                                    <td>
                                                                        @if(product.ProductImages != null && product.ProductImages.Any())
                                                                        {
                                                                            <img src="@product.ProductImages.First().ImageUrl" alt="ảnh sản phẩm" width="80"/>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span> không có ảnh</span>
                                                                        }

                                                                    </td>
                                                                    <td>@product.Name</td>
                                                                    <td>@product.Price</td>
                                                                    <td>@item.SoldQuantity</td>
                                                                     
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td colspan="6" class="tex-center"> Ban chua co san pham</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-xxl-6">
                                            <div class="order-tab dashboard-bg-box">
                                                <div class="dashboard-title mb-4">
                                                    <h3>Đơn hàng gần đây</h3>
                                                </div>

                                                <div class="table-responsive">
                                                    <table class="table order-table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Mã đơn hàng</th>
                                                                <th scope="col">Tên sản phẩm</th>
                                                                <th scope="col">Trạng thái</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                // Lấy danh sách productId của farmer hiện tại
                                                                var farmerProductIds = Model.ProductList?.Select(p => p.Id).ToList() ?? new List<int>();
                                                            }
                                                            @foreach (var oder in Model.OngoingOrders)
                                                            {
                                                                <tr>
                                                                    <td>@oder.Id</td>
                                                                    <td>
                                                                        <ul>
                                                                            @{
                                                                                // Lọc các item là sản phẩm của farmer hiện tại
                                                                                var items = oder.RetailOrderItems
                                                                                .Where(i => i.Product != null && farmerProductIds.Contains(i.Product.Id))
                                                                                .GroupBy(i => i.Product.Name)
                                                                                .Select(g => new { Name = g.Key, Quantity = g.Sum(x => x.Quantity) });
                                                                            }
                                                                            @foreach (var item in items)
                                                                            {
                                                                                <li>@item.Name </li>
                                                                            }
                                                                        </ul>
                                                                    </td>
                                                                    <td>@oder.Status</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* tab product *@
                            <div class="tab-pane fade" id="pills-product" role="tabpanel">
                                <div class="product-tab">
                                    <div class="title d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center gap-2">
                                            <h2 class="mb-0">Tất cả sản phẩm</h2>
                                        </div>

                                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addProductModal">
                                            Đăng ký sản phẩm mới
                                        </button>
                                    </div>

                                    <div class="table-responsive dashboard-bg-box">
                                        <table class="table product-table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Ảnh</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Giá</th>
                                                    <th scope="col">Mô tả</th>
                                                    <th scope="col">Trạng thái</th>
                                                    <th scope="col">Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tbody id="productTableBody">
                                                @if (Model.ProductList != null && Model.ProductList.Any())
                                                {
                                                    foreach (var product in Model.ProductList)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @if (product.ProductImages != null && product.ProductImages.Any())
                                                                {
                                                                    <img src="@product.ProductImages.First().ImageUrl" 
                                                                         class="img-fluid" 
                                                                         style="max-width:60px;max-height:60px;object-fit:cover;" 
                                                                         alt="@product.Name">
                                                                }
                                                                else
                                                                {
                                                                    <span class="text-muted">N/A</span>
                                                                }
                                                            </td>
                                                            <td>@product.Name</td>
                                                            <td>@product.Price.ToString("N0") VNĐ</td>
                                                            <td>
                                                                @if (!string.IsNullOrEmpty(product.ProductImages?.FirstOrDefault()?.Description))
                                                                {
                                                                    @product.ProductImages.First().Description
                                                                }
                                                                else
                                                                {
                                                                    <span class="text-muted">-</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                @switch (product.ApprovalStatus)
                                                                {
                                                                    case "pending":
                                                                        <span class="badge bg-warning">Chờ duyệt</span>
                                                                        break;
                                                                    case "accepted":
                                                                        <span class="badge bg-success">Đã duyệt</span>
                                                                        break;
                                                                    case "rejected":
                                                                        <span class="badge bg-danger">Từ chối</span>
                                                                        break;
                                                                    case "cancelled":
                                                                        <span class="badge bg-secondary">Đã hủy</span>
                                                                        break;
                                                                    default:
                                                                        <span class="badge bg-light text-dark">@product.ApprovalStatus</span>
                                                                        break;
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (product.ApprovalStatus == "accepted")
                                                                {
                                                                    <button class="btn btn-danger btn-sm" 
                                                                            onclick="showCancelModal(@product.Id, '@product.Name')">
                                                                        Hủy bán
                                                                    </button>
                                                                    <button class="btn btn-primary btn-sm" 
                                                                            onclick="showRequestModal(@product.Id, '@product.Name', @product.Quantity, @product.Price)">
                                                                        Yêu cầu
                                                                    </button>
                                                                }
                                                                else if (product.ApprovalStatus == "pending")
                                                                {
                                                                    <span class="text-muted">-</span>
                                                                }
                                                                else if (product.ApprovalStatus == "rejected" || product.ApprovalStatus == "cancelled")
                                                                {
                                                                    <form method="post" action="@Url.Action("ResellProduct", "Famer")" style="display: inline;">
                                                                        @Html.AntiForgeryToken()
                                                                        <input type="hidden" name="productId" value="@product.Id" />
                                                                        <button type="submit" class="btn btn-success btn-sm" 
                                                                                onclick="return confirm('Bạn có chắc chắn muốn bán lại sản phẩm này?')">
                                                                            Bán lại
                                                                        </button>
                                                                    </form>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="6" class="text-center">Bạn chưa có sản phẩm nào.</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        
                                        @if (Model.ProductList != null && Model.ProductList.Any())
                                        {
                                            <nav class="custom-pagination">
                                                <ul class="pagination justify-content-center" id="productPagination">
                                                    <!-- Pagination sẽ được tạo bằng JavaScript -->
                                                </ul>
                                            </nav>
                                            <div class="mt-3">
                                                <p class="text-muted text-center" id="productInfo">
                                                    Hiển thị <span id="startIndex">1</span> - <span id="endIndex">10</span> 
                                                    trong tổng số <span id="totalProducts">@Model.ProductList.Count</span> sản phẩm
                                                </p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            @* tab product end *@

                            @* tab supply requests *@
                            <div class="tab-pane fade" id="pills-supply" role="tabpanel">
                                <div class="supply-tab">
                                    <div class="title d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center gap-2">
                                            <h2 class="mb-0">Yêu cầu cung cấp sản phẩm</h2>
                                        </div>

                                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#requestSupplyModal">
                                            <i class="fa-solid fa-plus"></i> Yêu cầu cung cấp mới
                                        </button>
                                    </div>

                                    <div class="table-responsive dashboard-bg-box">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Sản phẩm</th>
                                                    <th scope="col">Số lượng</th>
                                                    <th scope="col">Giá</th>
                                                    <th scope="col">Người yêu cầu</th>
                                                    <th scope="col">Trạng thái</th>
                                                    <th scope="col">Ngày yêu cầu</th>
                                                    <th scope="col">Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var supplyRequests = ViewBag.SupplyRequests as List<SupplyRequest> ?? new List<SupplyRequest>();
                                                }
                                                @if (supplyRequests.Any())
                                                {
                                                    foreach (var request in supplyRequests)
                                                    {
                                                        <tr>
                                                            <td>@request.ProductName</td>
                                                            <td>@request.Quantity</td>
                                                            <td>@(request.Price?.ToString("N0") ?? "Thỏa thuận") VNĐ</td>
                                                            <td>
                                                                @if (request.RequesterType == "farmer")
                                                                {
                                                                    <span class="badge bg-info">Bạn yêu cầu</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="badge bg-warning">Admin yêu cầu</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                @switch (request.Status)
                                                                {
                                                                    case "pending":
                                                                        <span class="badge bg-warning">Chờ phản hồi</span>
                                                                        break;
                                                                    case "accepted":
                                                                        <span class="badge bg-success">Đã chấp nhận</span>
                                                                        break;
                                                                    case "rejected":
                                                                        <span class="badge bg-danger">Đã từ chối</span>
                                                                        break;
                                                                    default:
                                                                        <span class="badge bg-light text-dark">@request.Status</span>
                                                                        break;
                                                                }
                                                            </td>
                                                            <td>@request.RequestedAt?.ToString("dd/MM/yyyy HH:mm")</td>
                                                            <td>
                                                                @if (request.Status == "pending" && request.RequesterType != "farmer")
                                                                {
                                                                    <button class="btn btn-success btn-sm" onclick="showRespondModal(@request.Id, 'accepted')">
                                                                        Chấp nhận
                                                                    </button>
                                                                    <button class="btn btn-danger btn-sm" onclick="showRespondModal(@request.Id, 'rejected')">
                                                                        Từ chối
                                                                    </button>
                                                                }
                                                                else if (request.Status == "pending" && request.RequesterType == "farmer")
                                                                {
                                                                    <span class="text-muted">Đang chờ admin phản hồi</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="text-muted">-</span>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="7" class="text-center">Chưa có yêu cầu cung cấp nào.</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            @* tab supply requests end *@

                            <div class="tab-pane fade" id="pills-order" role="tabpanel">
                                <div class="dashboard-order">
                                    <div class="title">
                                        <h2>All Order</h2>
                                        <span class="title-leaf title-leaf-gray">
                                            <svg class="icon-width bg-gray">
                                                <use xlink:href="~/svg/leaf.svg#leaf"></use>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="order-tab dashboard-bg-box">
                                        <div class="table-responsive">
                                            <table class="table order-table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Mã đơn hàng</th>
                                                        <th scope="col">Tên sản phẩm</th>
                                                        <th scope="col">Trạng thái</th>
                                                        <th scope="col">Giá</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.OngoingOrders != null && Model.OngoingOrders.Any())
                                                    {
                                                        // Lấy danh sách productId của farmer hiện tại
                                                         farmerProductIds = Model.ProductList?.Select(p => p.Id).ToList() ?? new List<int>();

                                                        foreach (var order in Model.OngoingOrders)
                                                        {
                                                            // Lọc các item là sản phẩm của farmer hiện tại
                                                            var items = order.RetailOrderItems
                                                            .Where(i => i.Product != null && farmerProductIds.Contains(i.Product.Id))
                                                            .GroupBy(i => i.Product.Name)
                                                            .Select(g => new
                                                            {
                                                                Name = g.Key,
                                                                Quantity = g.Sum(x => x.Quantity),
                                                                Price = g.Sum(x => x.Product.Price * x.Quantity)
                                                            });

                                                            <tr>
                                                                <td>@order.Id</td>
                                                                <td>
                                                                    <ul>
                                                                        @foreach (var item in items)
                                                                        {
                                                                            <li>@item.Name </li>
                                                                        }
                                                                    </ul>
                                                                </td>
                                                                <td>@order.Status</td>
                                                                <td>
                                                                    @items.Sum(i => i.Price)
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td colspan="4" class="text-center">Không có đơn hàng nào đang được đặt.</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <nav class="custom-pagination">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                                        <i class="fa-solid fa-angles-left"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item active">
                                                    <a class="page-link" href="javascript:void(0)">1</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="javascript:void(0)">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="javascript:void(0)">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="javascript:void(0)">
                                                        <i class="fa-solid fa-angles-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-profile" role="tabpanel">
                                <div class="dashboard-profile">
                                    <div class="title">
                                        <h2>Thông tin cá nhân</h2>
                                        <span class="title-leaf">
                                            <svg class="icon-width bg-gray">
                                                <use xlink:href="~/svg/leaf.svg#leaf"></use>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="profile-tab dashboard-bg-box">
                                        <div class="dashboard-title dashboard-flex">
                                            <h3>Thông tin cá nhân</h3>
                                        </div>

                                        <ul>
                                            
                                            </li>
                                            <li>
                                                <h5>Email :</h5>
                                                <h5>@Model.User.Email</h5>
                                            </li>
                                            <li>
                                                <h5>Quốc gia :</h5>
                                                <h5>Viet Nam</h5>
                                            </li>

                                            <li>
                                                <h5>Ngày tham gia :</h5>
                                                <h5>@Model.User.CreatedAt</h5>
                                            </li>
                                            <li>
                                                <h5>Địa chỉ :</h5>
                                                <h5>@Model.Famer.Address</h5>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- User Dashboard Section End -->
    <!-- Tap to top and theme setting button start -->
    <div class="theme-option">
        <div class="setting-box">
            <button class="btn setting-button">
                <i class="fa-solid fa-gear"></i>
            </button>

            <div class="theme-setting-2">
                <div class="theme-box">
                    <ul>
                        <li>
                            <div class="setting-name">
                                <h4>Color</h4>
                            </div>
                            <div class="theme-setting-button color-picker">
                                <form class="form-control">
                                    <label for="colorPick" class="form-label mb-0">Theme Color</label>
                                    <input type="color" class="form-control form-control-color" id="colorPick"
                                           value="#0da487" title="Choose your color">
                                </form>
                            </div>
                        </li>

                        <li>
                            <div class="setting-name">
                                <h4>Dark</h4>
                            </div>
                            <div class="theme-setting-button">
                                <button class="btn btn-2 outline" id="darkButton">Dark</button>
                                <button class="btn btn-2 unline" id="lightButton">Light</button>
                            </div>
                        </li>

                        <li>
                            <div class="setting-name">
                                <h4>RTL</h4>
                            </div>
                            <div class="theme-setting-button rtl">
                                <button class="btn btn-2 rtl-unline">LTR</button>
                                <button class="btn btn-2 rtl-outline">RTL</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="back-to-top">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top and theme setting button end -->
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->

    @* model chứa form đăng ký bán sản phẩm *@
    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form asp-action="AddProduct" asp-controller="Famer" enctype="multipart/form-data" method="post">
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProductModalLabel">Đăng sản phẩm mới</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                    </div>
                    <div class="modal-body row g-3">
                        <div class="col-md-6">
                            <label class="form-label">Tên sản phẩm</label>
                            <input type="text" name="name" class="form-control" id="productName" required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Loại</label>
                            <select name="product_type" class="form-select" required>
                                <option value="raw">Raw</option>
                                <option value="processed">Processed</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Danh mục</label>
                            <select name="category_id" class="form-select" required>
                                @foreach (var cat in ViewBag.Categories)
                                {
                                    <option value="@cat.Id">@cat.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Số lượng</label>
                            <input type="number" name="quantity" class="form-control" id="quantityInput" min="1" step="1" required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Giá</label>
                            <input type="number" name="price" id="priceInput" class="form-control" required min="1000" step="1000" />
                            <div id="priceError" style="color: red; display: none;">Giá phải là bội số của 1000 và lớn hơn 1000.</div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Ngày hết hạn</label>
                            <input type="date" name="expiration_date" id="expirationDate" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Thời gian chế biến</label>
                            <input type="date" name="processing_time" id="processingDate" class="form-control" />
                        </div>
                        <div id="dateError" style="color: red; display: none;" class="col-md-6">
                            Ngày hết hạn phải lớn hơn ngày chế biến.
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Hình ảnh sản phẩm</label>
                            <input type="file" name="images" multiple class="form-control" required/>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Mô tả</label>
                            <textarea name="image_description" class="form-control"></textarea>
                        </div>
                        @if (ViewBag.FarmerId != null)
                        {
                            <input type="hidden" name="farmer_id" value="@ViewBag.FarmerId" />
                            <span class="badge bg-primary">Xin chào, @ViewBag.FarmerName!</span>
                        }
                        else
                        {
                            <div class="alert alert-warning mt-2">
                                Bạn không phải là farmer.
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success fw-bold" @(ViewBag.FarmerId == null ? "disabled" : "")>
                            🚀 Gửi yêu cầu
                        </button>
                    </div>
                    <script>
                        document.getElementById("productName").addEventListener("input", function (e) {
                            this.value = this.value.replace(/[^a-zA-ZÀ-ỹ\s]/g, '');
                        });

                        const quantityInput = document.getElementById("quantityInput");

                        // Ngăn nhập số âm hoặc chữ (qua bàn phím và paste)
                        quantityInput.addEventListener("input", function () {
                            let val = this.value;

                            // Xóa ký tự không phải số hoặc là số âm
                            val = val.replace(/[^0-9]/g, '');

                            // Nếu giá trị nhỏ hơn 1 thì xóa
                            if (val !== "" && parseInt(val) < 1) {
                                val = "";
                            }

                            this.value = val;
                        });

                        // Ngăn kéo con lăn thay đổi giá trị (trên input type=number)
                        quantityInput.addEventListener('wheel', function (e) {
                            e.preventDefault();
                        });

                        const priceInput = document.getElementById("priceInput");
                        const priceError = document.getElementById("priceError");

                        priceInput.addEventListener("input", function () {
                            const value = parseInt(this.value, 10);

                            // Kiểm tra bội số của 1000 và lớn hơn 1000
                            if (isNaN(value) || value < 1000 || value % 1000 !== 0) {
                                priceError.style.display = "block";
                                this.setCustomValidity("Giá phải là bội số của 1000 và lớn hơn 1000");
                            } else {
                                priceError.style.display = "none";
                                this.setCustomValidity("");
                            }
                        });

                        const expirationDate = document.getElementById("expirationDate");
                        const processingDate = document.getElementById("processingDate");
                        const dateError = document.getElementById("dateError");

                        function validateDates() {
                            const exp = new Date(expirationDate.value);
                            const proc = new Date(processingDate.value);

                            if (expirationDate.value && processingDate.value && exp <= proc) {
                                dateError.style.display = "block";
                                expirationDate.setCustomValidity("Ngày hết hạn phải lớn hơn ngày chế biến.");
                            } else {
                                dateError.style.display = "none";
                                expirationDate.setCustomValidity("");
                            }
                        }

                        expirationDate.addEventListener("change", validateDates);
                        processingDate.addEventListener("change", validateDates);
                    </script>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Profile Modal End -->
    <!-- Modal xác nhận hủy bán -->
    <div class="modal fade" id="cancelProductModal" tabindex="-1" aria-labelledby="cancelProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" action="@Url.Action("CancelProduct", "Famer")">
                @Html.AntiForgeryToken()
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelProductModalLabel">Hủy bán sản phẩm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="productId" id="cancelProductId" />
                        <p>Bạn có chắc chắn muốn hủy bán sản phẩm: <strong id="cancelProductName"></strong>?</p>
                        <div class="mb-3">
                            <label for="cancelReason" class="form-label">Lý do hủy bán</label>
                            <textarea class="form-control" name="reason" id="cancelReason" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-danger">Xác nhận hủy bán</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal xác nhận hủy bán end -->
    
    <!-- Modal yêu cầu cung cấp -->
    <div class="modal fade" id="requestSupplyModal" tabindex="-1" aria-labelledby="requestSupplyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" action="@Url.Action("RequestSupply", "Famer")">
                @Html.AntiForgeryToken()
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="requestSupplyModalLabel">Yêu cầu cung cấp sản phẩm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="productId" class="form-label">Chọn sản phẩm</label>
                            <select class="form-select" id="productId" name="productId" required>
                                <option value="">-- Chọn sản phẩm --</option>
                                @if (Model.ProductList != null && Model.ProductList.Any())
                                {
                                    foreach (var product in Model.ProductList)
                                    {
                                        <option value="@product.Id">@product.Name - @product.Price.ToString("N0") VNĐ</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Số lượng</label>
                            <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Giá (tùy chọn)</label>
                            <input type="number" class="form-control" id="price" name="price" min="0" step="1000">
                            <div class="form-text">Để trống nếu muốn thỏa thuận giá</div>
                        </div>
                        <div class="mb-3">
                            <label for="note" class="form-label">Ghi chú</label>
                            <textarea class="form-control" id="note" name="note" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Gửi yêu cầu</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal yêu cầu cung cấp end -->

    <!-- Modal yêu cầu cung cấp từ nút Yêu cầu -->
    <div class="modal fade" id="requestProductModal" tabindex="-1" aria-labelledby="requestProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" action="@Url.Action("RequestSupply", "Famer")">
                @Html.AntiForgeryToken()
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="requestProductModalLabel">Yêu cầu cung cấp sản phẩm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="productId" id="requestProductId" />
                        <div class="mb-3">
                            <label class="form-label">Sản phẩm</label>
                            <input type="text" class="form-control" id="requestProductName" readonly>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Số lượng hiện tại</label>
                                    <input type="number" class="form-control" id="requestCurrentQuantity" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Giá hiện tại</label>
                                    <input type="text" class="form-control" id="requestCurrentPrice" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="requestQuantity" class="form-label">Số lượng yêu cầu *</label>
                                    <input type="number" class="form-control" id="requestQuantity" name="quantity" min="1" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="requestPrice" class="form-label">Giá mới (tùy chọn)</label>
                                    <input type="number" class="form-control" id="requestPrice" name="price" min="1000" step="1000">
                                    <div class="form-text">Phải > 1000 và là bội của 1000</div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="requestNote" class="form-label">Ghi chú</label>
                            <textarea class="form-control" id="requestNote" name="note" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Gửi yêu cầu</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal yêu cầu cung cấp từ nút Yêu cầu end -->

    <!-- Modal phản hồi yêu cầu cung cấp -->
    <div class="modal fade" id="respondSupplyModal" tabindex="-1" aria-labelledby="respondSupplyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" action="@Url.Action("RespondToSupply", "Famer")">
                @Html.AntiForgeryToken()
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="respondSupplyModalLabel">Phản hồi yêu cầu cung cấp</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="requestId" id="respondRequestId" />
                        <input type="hidden" name="response" id="respondResponse" />
                        <p>Bạn có chắc chắn muốn <strong id="respondAction"></strong> yêu cầu cung cấp này?</p>
                        <div class="mb-3">
                            <label for="respondNote" class="form-label">Ghi chú (tùy chọn)</label>
                            <textarea class="form-control" id="respondNote" name="note" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal phản hồi yêu cầu cung cấp end -->
    
    <!-- latest jquery-->
    <script src="~/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="~/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="~/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="~/js/feather/feather.min.js"></script>
    <script src="~/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="~/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="~/js/slick/slick.js"></script>
    <script src="~/js/slick/custom_slick.js"></script>

    <!-- Apexcharts Js -->
    <script src="~/js/apexchart.js"></script>
    <script src="~/js/custom-chart.js"></script>

    <!-- Nav & tab upside js -->
    <script src="~/js/nav-tab.js"></script>

    <!-- script js -->
    <script src="~/js/script.js"></script>

    <!-- theme setting js -->
    <script src="~/js/theme-setting.js"></script>
    <script>
        // Biến toàn cục cho phân trang
        let currentPage = 1;
        const pageSize = 10;
        let allProducts = [];

        // Hiển thị modal xác nhận hủy bán
        function showCancelModal(productId, productName) {
            document.getElementById('cancelProductId').value = productId;
            document.getElementById('cancelProductName').textContent = productName;
            document.getElementById('cancelReason').value = '';
            
            const modal = new bootstrap.Modal(document.getElementById('cancelProductModal'));
            modal.show();
        }

        // Lấy tất cả sản phẩm từ DOM
        function getAllProducts() {
            const tbody = document.getElementById('productTableBody');
            if (!tbody) {
                console.log('Không tìm thấy productTableBody');
                return [];
            }
            
            const rows = tbody.querySelectorAll('tr');
            console.log('Tìm thấy', rows.length, 'sản phẩm');
            const products = [];
            
            rows.forEach((row, index) => {
                const cells = row.querySelectorAll('td');
                if (cells.length >= 6) {
                    products.push({
                        element: row,
                        id: row.querySelector('button')?.getAttribute('onclick')?.match(/\d+/)?.[0] || '',
                        name: cells[1]?.textContent?.trim() || '',
                        price: cells[2]?.textContent?.trim() || '',
                        description: cells[3]?.textContent?.trim() || '',
                        status: cells[4]?.textContent?.trim() || '',
                        action: cells[5]?.innerHTML || ''
                    });
                }
            });
            
            console.log('Đã lấy được', products.length, 'sản phẩm');
            return products;
        }

        // Hiển thị sản phẩm theo trang
        function showProductsPage(page) {
            const tbody = document.getElementById('productTableBody');
            if (!tbody) {
                return;
            }
            
            const startIndex = (page - 1) * pageSize;
            const endIndex = startIndex + pageSize;
            
            // Ẩn tất cả sản phẩm
            allProducts.forEach(product => {
                product.element.style.display = 'none';
            });
            
            // Hiển thị sản phẩm của trang hiện tại
            for (let i = startIndex; i < endIndex && i < allProducts.length; i++) {
                allProducts[i].element.style.display = '';
            }
            
            // Cập nhật thông tin hiển thị
            updateProductInfo(startIndex, endIndex);
            
            // Cập nhật phân trang
            updatePagination(page);
        }

        // Cập nhật thông tin hiển thị
        function updateProductInfo(startIndex, endIndex) {
            const startSpan = document.getElementById('startIndex');
            const endSpan = document.getElementById('endIndex');
            const totalSpan = document.getElementById('totalProducts');
            
            if (startSpan) startSpan.textContent = startIndex + 1;
            if (endSpan) endSpan.textContent = Math.min(endIndex, allProducts.length);
            if (totalSpan) totalSpan.textContent = allProducts.length;
        }

        // Cập nhật phân trang
        function updatePagination(currentPage) {
            const pagination = document.getElementById('productPagination');
            if (!pagination) return;
            
            const totalPages = Math.ceil(allProducts.length / pageSize);
            let html = '';
            
            // Nút Previous
            if (currentPage > 1) {
                html += `<li class="page-item">
                            <a class="page-link" href="javascript:void(0)" onclick="goToPage(${currentPage - 1})">
                                <i class="fa-solid fa-angles-left"></i>
                            </a>
                        </li>`;
            } else {
                html += `<li class="page-item disabled">
                            <a class="page-link" href="javascript:void(0)">
                                <i class="fa-solid fa-angles-left"></i>
                            </a>
                        </li>`;
            }
            
            // Các số trang
            for (let i = 1; i <= totalPages; i++) {
                html += `<li class="page-item ${i === currentPage ? 'active' : ''}">
                            <a class="page-link" href="javascript:void(0)" onclick="goToPage(${i})">${i}</a>
                        </li>`;
            }
            
            // Nút Next
            if (currentPage < totalPages) {
                html += `<li class="page-item">
                            <a class="page-link" href="javascript:void(0)" onclick="goToPage(${currentPage + 1})">
                                <i class="fa-solid fa-angles-right"></i>
                            </a>
                        </li>`;
            } else {
                html += `<li class="page-item disabled">
                            <a class="page-link" href="javascript:void(0)">
                                <i class="fa-solid fa-angles-right"></i>
                            </a>
                        </li>`;
            }
            
            pagination.innerHTML = html;
        }

        // Chuyển đến trang
        function goToPage(page) {
            currentPage = page;
            showProductsPage(page);
        }

        // Khởi tạo phân trang khi trang load xong
        document.addEventListener('DOMContentLoaded', function() {
            // Lấy tất cả sản phẩm
            allProducts = getAllProducts();
            
            // Nếu có sản phẩm, khởi tạo phân trang
            if (allProducts.length > 0) {
                showProductsPage(1);
            }
        });

        // Hiển thị modal phản hồi yêu cầu cung cấp
        function showRespondModal(requestId, response) {
            document.getElementById('respondRequestId').value = requestId;
            document.getElementById('respondResponse').value = response;
            
            const actionText = response === 'accepted' ? 'chấp nhận' : 'từ chối';
            document.getElementById('respondAction').textContent = actionText;
            document.getElementById('respondNote').value = '';
            
            const modal = new bootstrap.Modal(document.getElementById('respondSupplyModal'));
            modal.show();
        }

        // Hiển thị modal yêu cầu cung cấp từ nút Yêu cầu
        function showRequestModal(productId, productName, currentQuantity, currentPrice) {
            document.getElementById('requestProductId').value = productId;
            document.getElementById('requestProductName').value = productName;
            document.getElementById('requestCurrentQuantity').value = currentQuantity;
            document.getElementById('requestCurrentPrice').value = currentPrice.toLocaleString() + ' VNĐ';
            document.getElementById('requestQuantity').value = '';
            document.getElementById('requestPrice').value = '';
            document.getElementById('requestNote').value = '';
            
            const modal = new bootstrap.Modal(document.getElementById('requestProductModal'));
            modal.show();
        }

        // Validation cho giá mới
        document.getElementById('requestPrice').addEventListener('input', function() {
            const value = parseInt(this.value, 10);
            const errorDiv = this.parentNode.querySelector('.text-danger');
            
            if (errorDiv) {
                errorDiv.remove();
            }
            
            if (this.value && (isNaN(value) || value < 1000 || value % 1000 !== 0)) {
                const error = document.createElement('div');
                error.className = 'text-danger mt-1';
                error.textContent = 'Giá phải lớn hơn 1000 và là bội số của 1000';
                this.parentNode.appendChild(error);
                this.setCustomValidity('Giá phải lớn hơn 1000 và là bội số của 1000');
            } else {
                this.setCustomValidity('');
            }
        });
    </script>
</body>

</html>