@model List<Village_Manager.Models.CartItem>
@{
    ViewData["Title"] = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var total = Model.Sum(i => (i.Product?.Price ?? 0) * i.Quantity);
    var shipping = 15000;
    var discount = ViewBag.DiscountAmount;
    var subTotal = total - discount;
    var finalTotal = total - discount + shipping;
}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FamViệt">
    <meta name="keywords" content="FamViệt">
    <meta name="author" content="FamViệt">
    <link rel="icon" href="~/images/favicon/1.png" type="image/x-icon">
    <title>Thanh toán đơn hàng</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/css/vendors/bootstrap.css">

    <!-- wow css -->
    <link rel="stylesheet" href="~/css/animate.min.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<body>
    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>Thanh toán</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">Thanh toán</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Checkout section Start -->
    <section class="checkout-section-2 section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-4 g-3">
                <div class="col-lg-8">
                    <div class="left-sidebar-checkout">
                        <div class="checkout-detail-box">
                            <ul>
                                <li>
                                    <div class="checkout-icon">
                                        <lord-icon target=".nav-item" src="https://cdn.lordicon.com/ggihhudh.json"
                                                   trigger="loop-on-hover"
                                                   colors="primary:#121331,secondary:#646e78,tertiary:#0baf9a"
                                                   class="lord-icon">
                                        </lord-icon>
                                    </div>

                                    @{
                                        var address = ViewBag.Address as Village_Manager.Models.Address;
                                    }

                                    <div class="checkout-box">
                                        <div class="checkout-title">
                                            <h4>Địa chỉ nhận hàng</h4>
                                        </div>

                                        <div class="checkout-detail">
                                            <div class="row g-4">
                                                @if (address != null)
                                                {
                                                    <div class="col-12">
                                                        <div class="delivery-address-box">
                                                            <div class="form-check">
                                                                <input class="form-check-input"
                                                                       type="radio"
                                                                       name="SelectedAddress"
                                                                       id="mainAddress"
                                                                       value="@address.Id"
                                                                       checked />
                                                                <label for="mainAddress" class="fw-500">@address.AddressLine</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-12">
                                                        <div class="alert alert-warning">Bạn chưa có địa chỉ nhận hàng.</div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <div class="checkout-icon">
                                        <lord-icon target=".nav-item" src="https://cdn.lordicon.com/qmcsqnle.json"
                                                   trigger="loop-on-hover" colors="primary:#0baf9a,secondary:#0baf9a"
                                                   class="lord-icon">
                                        </lord-icon>
                                    </div>
                                    <div class="checkout-box">
                                        <div class="checkout-title">
                                            <h4>Phương thức thanh toán:</h4>
                                        </div>

                                        <div class="checkout-detail">
                                            <div class="accordion accordion-flush custom-accordion"
                                                 id="accordionFlushExample">
                                                <div class="accordion-item">
                                                    <div class="accordion-header" id="flush-headingFour">
                                                        <div class="accordion-button collapsed"
                                                             data-bs-toggle="collapse"
                                                             data-bs-target="#flush-collapseFour">
                                                            <div class="custom-form-check form-check mb-0">
                                                                <label class="form-check-label" for="cash">
                                                                    <input class="form-check-input mt-0" type="radio"
                                                                           name="flexRadioDefault" id="cash" checked> Tiền mặt
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="flush-collapseFour"
                                                         class="accordion-collapse collapse show"
                                                         data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <p class="cod-review">
                                                                Vui lòng đảm bảo bạn đã chuẩn bị sẵn số tiền chính xác khi nhận hàng.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="right-side-summery-box">
                        <div class="summery-box-2">
                            <div class="summery-header">
                                <h3>Thông tin đơn hàng</h3>
                            </div>
                            @* hiển thị sản phẩm *@
                            <ul class="summery-contain">
                                @foreach (var item in Model)
                                {
                                    <li>
                                        <div class="d-flex align-items-center mb-3">
                                            <img src="@(item.Product?.ProductImages?.FirstOrDefault()?.ImageUrl ?? "/images/product/default-product.png")"
                                                 alt="@item.Product?.Name"
                                                 style="width: 75px; height: 75px; object-fit: cover; border-radius: 5px; margin-right: 15px;" />
                                            <div>
                                                <div style="color: var(--theme-color); font-weight: 600; font-size: 17px;">
                                                    @item.Product?.Name
                                                </div>
                                                <div class="text-muted" font-size: 15px;>
                                                    @item.Quantity x ₫@String.Format("{0:N0}", item.Product?.Price)
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>

                            @* tổng tiền *@
                            <ul class="summery-contain">
                                <li>
                                    <h4>Tổng cộng: </h4>
                                    <h4 class="price">₫@String.Format("{0:N0}", subTotal)</h4>
                                </li>

                                <li>
                                    <h4>Phí vận chuyển:</h4>
                                    <h4 class="price">₫@String.Format("{0:N0}", shipping)</h4>
                                </li>
                            </ul>

                            <ul class="summery-total">
                                <li class="list-total border-top-0">
                                    <h4>Tổng thanh toán:</h4>
                                    <h4 class="price theme-color">₫<span id="finalTotal">@String.Format("{0:N0}", finalTotal)</span></h4>
                            </ul>

                        </div>
                        <div class="button-group cart-button">
                            <ul>
                                <li>
                                    <form action="/shop/place-order" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn đặt hàng không?');">
                                        <button type="submit" class="btn theme-bg-color text-white btn-md w-100 mt-4 fw-bold">
                                            Đặt hàng
                                        </button>
                                        @if (TempData["Error"] != null)
                                        {
                                            <div class="alert alert-danger">@TempData["Error"]</div>

                                            
                                        }
                                    </form>

                                </li>
                                <li>
                                    <button onclick="location.href='/shop/cart'" class="btn btn-md btn-light text-dark shopping-button">
                                        <i class="fa-solid fa-arrow-left-long me-2"></i>
                                        Trở lại giỏ hàng
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout section End -->
    <!-- Tap to top button start -->
    <div class="theme-option">
        <div class="back-to-top">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top button end -->
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- latest jquery-->
    <script src="~/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="~/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="~/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="~/js/feather/feather.min.js"></script>
    <script src="~/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="~/js/lazysizes.min.js"></script>


    <!-- Delivery Option js -->
    <script src="~/js/delivery-option.js"></script>

    <!-- Slick js-->
    <script src="~/js/slick/slick.js"></script>
    <script src="~/js/slick/slick-animation.min.js"></script>
    <script src="~/js/slick/custom_slick.js"></script>

    <!-- Quantity js -->
    <script src="~/js/quantity-2.js"></script>

    <!-- WOW js -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/custom-wow.js"></script>

    <!-- script js -->
    <script src="~/js/script.js"></script>

    <!-- theme setting js -->
    <script src="~/js/theme-setting.js"></script>

</body>

</html>
