@model List<Village_Manager.Models.CartItem>
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var total = Model.Sum(i => (i.Product?.Price ?? 0) * i.Quantity);
    var shipping = 20000;
    var discount = ViewBag.DiscountAmount;
    var subTotal = total - discount;
    var finalTotal = total - discount + shipping;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="~/images/favicon/1.png" type="image/x-icon">
    <title>On-demand last-mile delivery</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/css/vendors/bootstrap.css">

    <!-- wow css -->
    <link rel="stylesheet" href="~/css/animate.min.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<body>
    <!-- Checkout section Start -->
    <section class="checkout-section-2 section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-4 g-3">
                <div class="col-lg-8">
                    <div class="left-sidebar-checkout">
                        <div class="checkout-detail-box">
                            <ul>
                                <li>
                                    <div class="checkout-icon">
                                        <lord-icon target=".nav-item" src="https://cdn.lordicon.com/ggihhudh.json"
                                                   trigger="loop-on-hover"
                                                   colors="primary:#121331,secondary:#646e78,tertiary:#0baf9a"
                                                   class="lord-icon">
                                        </lord-icon>
                                    </div>

                                    @{
                                        var addresses = ViewBag.Addresses as List<Village_Manager.Models.Address> ?? new List<Village_Manager.Models.Address>();
                                        int index = 0;
                                    }
                                    <div class="checkout-box">
                                        <div class="checkout-title">
                                            <h4>Địa chỉ nhận hàng</h4>
                                        </div>

                                        <div class="checkout-detail">
                                            <div class="row g-4">
                                                @if (addresses.Any())
                                                {
                                                    foreach (var addr in addresses)
                                                    {
                                                        var radioId = "addr_" + addr.Id;
                                                        <div class="col-xxl-6 col-lg-12 col-md-6">
                                                            <div class="delivery-address-box">
                                                                <div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input"
                                                                               type="radio"
                                                                               name="SelectedAddress"
                                                                               id="@radioId"
                                                                               value="@addr.Id"
                                                                               @(index == 0 ? "checked" : "") />
                                                                    </div>

                                                                    <div class="label">
                                                                        <label for="@radioId">@($"Address {index + 1}")</label>
                                                                    </div>

                                                                    <ul class="delivery-address-detail">
                                                                        <li>
                                                                            <h4 class="fw-500">@(addr.AddressLine)</h4>
                                                                        </li>
                                                                        <li>
                                                                            <p class="text-content">
                                                                                <span class="text-title">Địa chỉ:</span>
                                                                                @(addr.City), @(addr.Province)
                                                                            </p>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        index++;
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="col-12">
                                                        <div class="alert alert-warning">Bạn không có địa chỉ nào được lưu.</div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkout-icon">
                                        <lord-icon target=".nav-item" src="https://cdn.lordicon.com/qmcsqnle.json"
                                                   trigger="loop-on-hover" colors="primary:#0baf9a,secondary:#0baf9a"
                                                   class="lord-icon">
                                        </lord-icon>
                                    </div>
                                    <div class="checkout-box">
                                        <div class="checkout-title">
                                            <h4>Phương thức thanh toán:</h4>
                                        </div>

                                        <div class="checkout-detail">
                                            <div class="accordion accordion-flush custom-accordion"
                                                 id="accordionFlushExample">
                                                <div class="accordion-item">
                                                    <div class="accordion-header" id="flush-headingFour">
                                                        <div class="accordion-button collapsed"
                                                             data-bs-toggle="collapse"
                                                             data-bs-target="#flush-collapseFour">
                                                            <div class="custom-form-check form-check mb-0">
                                                                <label class="form-check-label" for="cash">
                                                                    <input class="form-check-input mt-0" type="radio"
                                                                           name="flexRadioDefault" id="cash" checked> Tiền mặt
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="flush-collapseFour"
                                                         class="accordion-collapse collapse show"
                                                         data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <p class="cod-review"> 
                                                                Vui lòng đảm bảo bạn đã chuẩn bị sẵn số tiền chính xác khi nhận hàng.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="accordion-item">
                                                    <div class="accordion-header" id="flush-headingOne">
                                                        <div class="accordion-button collapsed"
                                                             data-bs-toggle="collapse"
                                                             data-bs-target="#flush-collapseOne">
                                                            <div class="custom-form-check form-check mb-0">
                                                                <label class="form-check-label" for="credit">
                                                                    <input class="form-check-input mt-0" type="radio"
                                                                           name="flexRadioDefault" id="credit">
                                                                    Thẻ Ghi nợ hoặc Tín dụng
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                                                         data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="row g-2">
                                                                <div class="col-12">
                                                                    <div class="payment-method">
                                                                        <div class="form-floating mb-lg-3 mb-2 theme-form-floating">
                                                                            <input type="text" class="form-control"
                                                                                   id="credit2"
                                                                                   placeholder="Enter Credit & Debit Card Number">
                                                                            <label for="credit2">
                                                                                Nhập số thẻ
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-xxl-4">
                                                                    <div class="form-floating mb-lg-3 mb-2 theme-form-floating">
                                                                        <input type="text" class="form-control"
                                                                               id="expiry" placeholder="Enter Expiry Date">
                                                                        <label for="expiry">Ngày hết hạn</label>
                                                                    </div>
                                                                </div>

                                                                <div class="col-xxl-4">
                                                                    <div class="form-floating mb-lg-3 mb-2 theme-form-floating">
                                                                        <input type="text" class="form-control" id="cvv"
                                                                               placeholder="Enter CVV Number">
                                                                        <label for="cvv">Mã CVV</label>
                                                                    </div>
                                                                </div>

                                                                <div class="col-xxl-4">
                                                                    <div class="form-floating mb-lg-3 mb-2 theme-form-floating">
                                                                        <input type="password" class="form-control"
                                                                               id="password" placeholder="Name On Card">
                                                                        <label for="password">Tên trên thẻ</label>
                                                                    </div>
                                                                </div>

                                                                <div class="button-group mt-0">
                                                                    <ul>
                                                                        <li>
                                                                            <button class="btn btn-light shopping-button">
                                                                                Làm mới
                                                                            </button>
                                                                        </li>

                                                                        <li>
                                                                            <button class="btn btn-animation">
                                                                                Dùng thẻ này
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="accordion-item">
                                                    <div class="accordion-header" id="flush-headingTwo">
                                                        <div class="accordion-button collapsed"
                                                             data-bs-toggle="collapse"
                                                             data-bs-target="#flush-collapseTwo">
                                                            <div class="custom-form-check form-check mb-0">
                                                                <label class="form-check-label" for="banking">
                                                                    <input class="form-check-input mt-0" type="radio"
                                                                           name="flexRadioDefault" id="banking">
                                                                           Ngân hàng
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                                         data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="row g-2">
                                                                <div class="col-12">
                                                                    <div class="select-option">
                                                                        <div class="form-floating theme-form-floating">
                                                                            <select id="bankSelect" class="form-select theme-form-select">
                                                                                <option>Loading...</option>
                                                                            </select>
                                                                            <label for="walletSelect">Chọn ngân hàng</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="accordion-item">
                                                    <div class="accordion-header" id="flush-headingThree">
                                                        <div class="accordion-button collapsed"
                                                             data-bs-toggle="collapse"
                                                             data-bs-target="#flush-collapseThree"
                                                             aria-expanded="false"
                                                             aria-controls="flush-collapseThree">
                                                            <div class="custom-form-check form-check mb-0">
                                                                <label class="form-check-label" for="wallet">
                                                                    <input class="form-check-input mt-0" type="radio"
                                                                           name="flexRadioDefault" id="wallet">
                                                                    Ví điện tử
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div id="flush-collapseThree"
                                                         class="accordion-collapse collapse"
                                                         data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="form-floating theme-form-floating">
                                                                <select class="form-select theme-form-select" id="walletSelect" name="SelectedWallet">
                                                                    <option value="">-- Vui lòng chọn --</option>
                                                                    <option value="momo">Momo</option>
                                                                    <option value="zalopay">ZaloPay</option>
                                                                    <option value="viettelmoney">Viettel Money</option>
                                                                    <option value="applepay">Apple Pay</option>
                                                                    <option value="googlepay">Google Pay</option>
                                                                </select>
                                                                <label for="walletSelect">Chọn ví điện tử</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="right-side-summery-box">
                        <div class="summery-box-2">
                            <div class="summery-header">
                                <h3>Thông tin đơn hàng</h3>
                            </div>
                            @* hiển thị sản phẩm *@
                            <ul class="summery-contain">
                                @foreach (var item in Model)
                                {
                                    <li>
                                        <div class="d-flex align-items-center mb-3">
                                            <img src="@(item.Product?.ProductImages?.FirstOrDefault()?.ImageUrl ?? "/images/product/default-product.png")"
                                                 alt="@item.Product?.Name"
                                                 style="width: 75px; height: 75px; object-fit: cover; border-radius: 5px; margin-right: 15px;" />
                                            <div>
                                                <div style="color: var(--theme-color); font-weight: 600; font-size: 17px;">
                                                    @item.Product?.Name
                                                </div>
                                                <div class="text-muted" font-size: 15px;>
                                                    @item.Quantity x ₫@String.Format("{0:N0}", item.Product?.Price)
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>

                            @* tổng tiền *@
                            <ul class="summery-contain">
                                <li>
                                    <h4>Tạm tính: </h4>
                                    <h4 class="price">₫@String.Format("{0:N0}", total)</h4>
                                </li>

                                @if (discount > 0)
                                {
                                    <li>
                                        <h4>Giảm giá:  (@discount)</h4>
                                        <h4 class="price text-danger">- ₫@String.Format("{0:N0}", discount)</h4>
                                    </li>
                                }

                                <li class="list-total">
                                    <h4>Tổng cộng: </h4>
                                    <h4 class="price theme-color">₫@String.Format("{0:N0}", finalTotal)</h4>
                                </li>
                            </ul>

                        </div>
                        <div class="button-group cart-button">
                            <ul>
                                <li>
                                    <form action="/shop/place-order" method="post">
                                        <button type="submit" class="btn theme-bg-color text-white btn-md w-100 mt-4 fw-bold">
                                            Đặt hàng
                                        </button>
                                    </form>
                                </li>
                                <li>
                                    <button onclick="location.href='/shop/cart'" class="btn btn-md btn-light text-dark shopping-button">
                                        <i class="fa-solid fa-arrow-left-long me-2"></i>
                                        Trở lại giỏ hàng
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout section End -->
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- latest jquery-->
    <script src="~/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="~/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="~/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="~/js/feather/feather.min.js"></script>
    <script src="~/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="~/js/lazysizes.min.js"></script>


    <!-- Delivery Option js -->
    <script src="~/js/delivery-option.js"></script>

    <!-- Slick js-->
    <script src="~/js/slick/slick.js"></script>
    <script src="~/js/slick/slick-animation.min.js"></script>
    <script src="~/js/slick/custom_slick.js"></script>

    <!-- Quantity js -->
    <script src="~/js/quantity-2.js"></script>

    <!-- WOW js -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/custom-wow.js"></script>

    <!-- script js -->
    <script src="~/js/script.js"></script>

    <!-- theme setting js -->
    <script src="~/js/theme-setting.js"></script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "https://api.vietqr.io/v2/banks",
                method: "GET",
                success: function (response) {
                    const banks = response.data;
                    const bankSelect = $("#bankSelect");
                    bankSelect.empty();

                    bankSelect.append('<option value="">-- Select Bank --</option>');

                    banks.forEach(bank => {
                        bankSelect.append(`<option value="${bank.bin}">${bank.shortName}</option>`);
                    });
                },
                error: function (xhr) {
                    console.error("Lỗi khi tải danh sách ngân hàng:", xhr);
                }
            });
        });
    </script>

</body>

</html>
