@model List<Village_Manager.Models.CartItem>
@{
    ViewData["Title"] = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var shippingAddress = ViewBag.ShippingAddress?.ToString() ?? "Không có thông tin địa chỉ";
    var orderId = ViewBag.OrderId?.ToString() ?? "";
    var paymentMethod = ViewBag.PaymentMethod?.ToString() ?? "N/A";
    var total = Model.Sum(i => (i.Product?.Price ?? 0) * i.Quantity);
    var discount = ViewBag.DiscountAmount != null ? (int)ViewBag.DiscountAmount : 0;
    var shipping = 15000;
    var finalTotal = total - discount + shipping;
    var itemCount = Model.Sum(i => i.Quantity);

}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FamViệt">
    <meta name="keywords" content="FamViệt">
    <meta name="author" content="FamViệt">
    <link rel="icon" href="~/images/favicon/1.png" type="image/x-icon">
    <title>Đặt hàng thành công</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/css/vendors/bootstrap.css">

    <!-- wow css -->
    <link rel="stylesheet" href="~/css/animate.min.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<body>
    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain breadcrumb-order">
                        <div class="order-box">
                            <div class="order-image">
                                <div class="checkmark">
                                    <svg class="star" height="19" viewBox="0 0 19 19" width="19"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z">
                                        </path>
                                    </svg>
                                    <svg class="star" height="19" viewBox="0 0 19 19" width="19"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z">
                                        </path>
                                    </svg>
                                    <svg class="star" height="19" viewBox="0 0 19 19" width="19"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z">
                                        </path>
                                    </svg>
                                    <svg class="star" height="19" viewBox="0 0 19 19" width="19"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z">
                                        </path>
                                    </svg>
                                    <svg class="star" height="19" viewBox="0 0 19 19" width="19"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z">
                                        </path>
                                    </svg>
                                    <svg class="star" height="19" viewBox="0 0 19 19" width="19"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z">
                                        </path>
                                    </svg>
                                    <svg class="checkmark__check" height="36" viewBox="0 0 48 36" width="48"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M47.248 3.9L43.906.667a2.428 2.428 0 0 0-3.344 0l-23.63 23.09-9.554-9.338a2.432 2.432 0 0 0-3.345 0L.692 17.654a2.236 2.236 0 0 0 .002 3.233l14.567 14.175c.926.894 2.42.894 3.342.01L47.248 7.128c.922-.89.922-2.34 0-3.23">
                                        </path>
                                    </svg>
                                    <svg class="checkmark__background" height="115" viewBox="0 0 120 115" width="120"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M107.332 72.938c-1.798 5.557 4.564 15.334 1.21 19.96-3.387 4.674-14.646 1.605-19.298 5.003-4.61 3.368-5.163 15.074-10.695 16.878-5.344 1.743-12.628-7.35-18.545-7.35-5.922 0-13.206 9.088-18.543 7.345-5.538-1.804-6.09-13.515-10.696-16.877-4.657-3.398-15.91-.334-19.297-5.002-3.356-4.627 3.006-14.404 1.208-19.962C10.93 67.576 0 63.442 0 57.5c0-5.943 10.93-10.076 12.668-15.438 1.798-5.557-4.564-15.334-1.21-19.96 3.387-4.674 14.646-1.605 19.298-5.003C35.366 13.73 35.92 2.025 41.45.22c5.344-1.743 12.628 7.35 18.545 7.35 5.922 0 13.206-9.088 18.543-7.345 5.538 1.804 6.09 13.515 10.696 16.877 4.657 3.398 15.91.334 19.297 5.002 3.356 4.627-3.006 14.404-1.208 19.962C109.07 47.424 120 51.562 120 57.5c0 5.943-10.93 10.076-12.668 15.438z">
                                        </path>
                                    </svg>
                                </div>
                            </div>

                            <div class="order-contain">
                                <h3 class="theme-color">Đặt hàng thành công</h3>
                                <h5 class="text-content">Thanh toán đơn hàng thành công, vui lòng xem chi tiết bên dưới</h5>
                                <h6>Mã đơn hàng: @orderId</h6>
                                <div class="d-flex justify-content-between align-items-center mt-4">
                                    <button onclick="location.href='/'" class="btn btn-light shopping-button text-dark">
                                        <i class="fa-solid fa-house me-2"></i>
                                        Về trang chủ
                                    </button>
                                    
                                    <button onclick="location.href='/customer?tab=order'" class="btn btn-md fw-bold text-white theme-bg-color">
                                        Danh sách đơn
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Cart Section Start -->
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-4 g-3">
                <div class="col-xxl-9 col-lg-8">
                    <div class="cart-table order-table order-table-2">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var product = item.Product;
                                        var itemTotal = (product?.Price ?? 0) * item.Quantity;
                                        <tr>
                                            <td class="product-detail">
                                                <div class="product border-0">
                                                    <a href="/shop/detail/@product?.Id" class="product-image">
                                                        <img src="@(product?.ProductImages?.FirstOrDefault()?.ImageUrl ?? "/images/product/default-product.png")"
                                                             class="img-fluid blur-up lazyload"
                                                             alt="@product?.Name" />
                                                    </a>
                                                    <div class="product-detail">
                                                        <ul>
                                                            <li class="name">
                                                                <a href="/shop/detail/@product?.Id">@product?.Name</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="price">
                                                <h4 class="table-title text-content">Đơn giá: </h4>
                                                <h6 class="theme-color">₫@String.Format("{0:N0}", product?.Price ?? 0)</h6>
                                            </td>

                                            <td class="quantity">
                                                <h4 class="table-title text-content">Số lượng: </h4>
                                                <h4 class="text-title">@item.Quantity</h4>
                                            </td>

                                            <td class="subtotal">
                                                <h4 class="table-title text-content">Thành tiền: </h4>
                                                <h5>₫@String.Format("{0:N0}", total)</h5>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3 col-lg-4">
                    <div class="row g-4">
                        <div class="col-lg-12 col-sm-6">
                            <div class="summery-box">
                                <div class="summery-header">
                                    <h3>Chi tiết đơn hàng: </h3>
                                    <h5 class="ms-auto theme-color">(@itemCount sản phẩm)</h5>
                                </div>
                                <ul class="summery-contain">
                                    <li>
                                        <h4>Tổng cộng: </h4>
                                        <h4 class="price">₫@string.Format("{0:N0}", total)</h4>
                                    </li>
                                    <li>
                                        <h4>Giảm giá:</h4>
                                        <h4 class="price text-danger">-₫@discount.ToString("N0")</h4>
                                    </li>
                                    <li>
                                        <h4>Phí vận chuyển:</h4>
                                        <h4 class="price">₫@String.Format("{0:N0}", shipping)</h4>
                                    </li>
                                </ul>

                                <ul class="summery-total">
                                    <li class="list-total">
                                        <h4>Tổng thanh toán: </h4>
                                        <h4 class="price theme-color">₫@string.Format("{0:N0}", finalTotal)</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Shipping Address -->
                        <div class="col-lg-12 col-sm-6">
                            <div class="summery-box">
                                <div class="summery-header d-block">
                                    <h3>Thông tin giao hàng: </h3>
                                </div>

                                <ul class="summery-contain pb-0 border-bottom-0">
                                    @if (!string.IsNullOrEmpty(shippingAddress))
                                    {
                                        <li class="d-block">
                                            <h4>Địa chỉ giao hàng:</h4>
                                            <h4 class="mt-2">@shippingAddress</h4>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="d-block">Chưa có thông tin địa chỉ giao hàng.</li>
                                    }
                                </ul>

                                <ul class="summery-total">
                                    <li class="pb-0">
                                        <h4>Ngày giao hàng dự kiến:</h4>
                                    </li>
                                    <li class="list-total border-top-0 pt-2">
                                        <h4 class="fw-bold">@DateTime.Now.AddDays(1).ToString("dd-MM-yyyy")</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Payment Method -->
                        <div class="col-12">
                            <div class="summery-box">
                                <div class="summery-header d-block">
                                    <h3>Phương thức thanh toán</h3>
                                </div>

                                <ul class="summery-contain pb-0 border-bottom-0">
                                    <li class="d-block pt-0">
                                        <p class="text-content">
                                            @paymentMethod
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Section End -->
    <!-- Tap to top button start -->
    <div class="theme-option">
        <div class="back-to-top">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top button end -->
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- latest jquery-->
    <script src="~/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="~/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="~/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="~/js/feather/feather.min.js"></script>
    <script src="~/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="~/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="~/js/slick/slick.js"></script>
    <script src="~/js/slick/custom_slick.js"></script>

    <!-- WOW js -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/custom-wow.js"></script>

    <!-- script js -->
    <script src="~/js/script.js"></script>

    <!-- theme setting js -->
    <script src="~/js/theme-setting.js"></script>
</body>

</html>