@{
    ViewData["Title"] = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var orderHistory = ViewBag.OrderHistory as List<Village_Manager.Models.RetailOrder>;
    var location = ViewBag.Location as List<Village_Manager.Models.UserLocation>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FamViệt">
    <meta name="keywords" content="FamViệt">
    <meta name="author" content="FamViệt">
    <link rel="icon" href="~/images/favicon/1.png" type="image/x-icon">
    <title>FamViệt</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/css/vendors/bootstrap.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<body>
    <!-- User Dashboard Section Start -->
    <section class="user-dashboard-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-3 col-lg-4">
                    <div class="dashboard-left-sidebar">
                        <div class="close-button d-flex d-lg-none">
                            <button class="close-sidebar">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <div class="profile-box">
                            <div class="cover-image">
                                <img src="~/images/inner-page/cover-img.jpg" class="img-fluid blur-up lazyload"
                                     alt="">
                            </div>

                            <div class="profile-contain">
                                <div class="profile-image">
                                    <div class="position-relative">
                                        <img src="~/images/inner-page/user/1.png"
                                             class="blur-up lazyload update_img" alt="">
                                    </div>
                                </div>

                                <div class="profile-name">
                                    <h3>@ViewBag.Username</h3>
                                    <h6 class="text-content">@ViewBag.Email</h6>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-pills user-nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-dashboard-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-dashboard" type="button">
                                    <i data-feather="home"></i>
                                    Trang chủ
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-order-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-order" type="button">
                                    <i data-feather="shopping-bag"></i>Đơn hàng
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-address-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-address" type="button" role="tab">
                                    <i data-feather="map-pin"></i>
                                    Địa chỉ
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-profile" type="button" role="tab">
                                    <i data-feather="user"></i>
                                    Tài khoản
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xxl-9 col-lg-8">
                    <button class="btn left-dashboard-show btn-animation btn-md fw-bold d-block mb-4 d-lg-none">
                        Menu
                    </button>
                    <div class="dashboard-right-sidebar">
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <i class="fa-solid fa-check-circle"></i>
                                @TempData["Success"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <i class="fa-solid fa-exclamation-triangle"></i>
                                @TempData["Error"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel" aria-labelledby="pills-dashboard-tab">
                                <div class="dashboard-home">
                                    <div class="title">
                                        <h2>Trang chủ</h2>
                                        <span class="title-leaf">
                                            <svg class="icon-width bg-gray">
                                                <use xlink:href="~/svg/leaf.svg#leaf"></use>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="dashboard-user-name">
                                        <h6 class="text-content">Xin chào, <b class="text-title">@ViewBag.Username</b></h6>
                                        <p class="text-content">
                                            Từ Bảng điều khiển Tài khoản của tôi, bạn có thể
                                            xem ảnh chụp nhanh về hoạt động tài khoản gần đây của mình và cập nhật thông tin tài khoản
                                            . Chọn liên kết bên dưới để xem hoặc chỉnh sửa thông tin.
                                        </p>
                                    </div>

                                    <div class="total-box">
                                        <div class="row g-sm-4 g-3">
                                            <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6">
                                                <div class="total-contain">
                                                    <img src="~/images/svg/order.svg"
                                                         class="img-1 blur-up lazyload" alt="">
                                                    <img src="~/images/svg/order.svg" class="blur-up lazyload"
                                                         alt="">
                                                    <div class="total-detail">
                                                        <h5>Tổng số đơn hàng</h5>
                                                        <h3>@ViewBag.TotalOrders</h3>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6">
                                                <div class="total-contain">
                                                    <img src="~/images/svg/pending.svg"
                                                         class="img-1 blur-up lazyload" alt="">
                                                    <img src="~/images/svg/pending.svg" class="blur-up lazyload"
                                                         alt="">
                                                    <div class="total-detail">
                                                        <h5>Đơn hàng đang xử lý</h5>
                                                        <h3>@ViewBag.PendingOrders</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dashboard-title">
                                        <h3>Thông tin tài khoản</h3>
                                    </div>

                                    <div class="row g-4">
                                        <div class="col-xxl-6">
                                            <div class="dashboard-content-title">
                                                <h4>
                                                    Thông tin khách hàng <a href="javascript:void(0)"
                                                                            data-bs-toggle="modal" data-bs-target="#editProfile">Edit</a>
                                                </h4>
                                            </div>
                                            <div class="dashboard-detail">
                                                <h6 class="text-content">Username: @ViewBag.Username</h6>
                                                <h6 class="text-content">Email: @ViewBag.Email</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
                                <div class="dashboard-order">
                                    <div class="title">
                                        <h2>Lịch sử Đơn hàng</h2>
                                        <span class="title-leaf title-leaf-gray">
                                            <svg class="icon-width bg-gray"><use xlink:href="~/svg/leaf.svg#leaf"></use></svg>
                                        </span>
                                    </div>

                                    <div class="order-history-container">
                                        @if (orderHistory == null || !orderHistory.Any())
                                        {
                                            <div class="empty-order-history">
                                                <i data-feather="shopping-bag"></i>
                                                <h4>Bạn chưa có đơn hàng nào.</h4>
                                                <p>Hãy bắt đầu mua sắm để xem lịch sử của bạn tại đây!</p>
                                                <a asp-controller="Home" asp-action="Index" class="btn btn-primary-transparent">Bắt đầu mua sắm</a>
                                            </div>
                                        }
                                        else
                                        {
                                            @foreach (var order in orderHistory)
                                            {
                                                var total = order.RetailOrderItems.Sum(i => i.Quantity * (i.UnitPrice ?? 0));
                                                <div class="order-card">
                                                    <div class="order-card-header">
                                                        <div class="header-left">
                                                            <h5>Đơn hàng #@order.Id</h5>
                                                            <p>Ngày đặt: @(order.OrderDate?.ToString("dd/MM/yyyy"))</p>
                                                        </div>
                                                        <div class="header-right">
                                                            <span class="status-badge status-@order.Status?.ToLower()">@order.Status</span>
                                                            <h5 class="order-total">@(order.RetailOrderItems.Sum(i => i.Quantity * i.UnitPrice)?.ToString("C0", new System.Globalization.CultureInfo("vi-VN")))</h5>
                                                        </div>
                                                    </div>

                                                    <div class="order-card-body">
                                                        <div class="d-flex gap-2">
                                                            <a asp-action="OrderDetail" asp-controller="Customer" asp-route-id="@order.Id"
                                                               class="btn btn-primary"
                                                               onclick="loadOrderDetail(@order.Id); return false;">
                                                                Xem chi tiết
                                                            </a>

                                                            @if (order.Status == "pending")
                                                            {
                                                                <a asp-action="CancelOrder" asp-controller="Customer"
                                                                   asp-route-orderId="@order.Id" asp-route-type="retail"
                                                                   class="btn btn-sm btn-outline-danger">
                                                                    Huỷ hàng
                                                                </a>
                                                            }
                                                            else if (order.Status == "delivered")
                                                            {
                                                                <a asp-action="ReturnOrder" asp-controller="Customer"
                                                                   asp-route-orderId="@order.Id" asp-route-type="retail"
                                                                   class="btn btn-sm btn-outline-warning">
                                                                    Hoàn hàng
                                                                </a>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <style>
                                .order-history-container {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 1.5rem; /* Khoảng cách giữa các đơn hàng */
                                }

                                .order-card {
                                    background-color: #fff;
                                    border: 1px solid #e0e0e0;
                                    border-radius: 8px;
                                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
                                    overflow: hidden;
                                    transition: all 0.3s ease;
                                }

                                    .order-card:hover {
                                        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
                                        transform: translateY(-2px);
                                    }

                                .order-card-header {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 1rem 1.5rem;
                                    background-color: #f8f9fa;
                                    border-bottom: 1px solid #e0e0e0;
                                }

                                    .order-card-header .header-left h5 {
                                        margin: 0;
                                        font-size: 1.1rem;
                                        font-weight: 600;
                                    }

                                    .order-card-header .header-left p {
                                        margin: 0;
                                        font-size: 0.85rem;
                                        color: #6c757d;
                                    }

                                    .order-card-header .header-right {
                                        display: flex;
                                        align-items: center;
                                        gap: 1.5rem;
                                        text-align: right;
                                    }

                                .order-total {
                                    font-size: 1.2rem;
                                    font-weight: 700;
                                    color: var(--theme-color); /* Sử dụng màu chủ đạo của bạn */
                                }

                                .status-badge {
                                    padding: 0.3rem 0.8rem;
                                    border-radius: 50px;
                                    font-size: 0.8rem;
                                    font-weight: 600;
                                    color: #fff;
                                    text-transform: capitalize;
                                }

                                /* Màu sắc cho từng trạng thái */
                                .status-delivered, .status-success {
                                    background-color: #28a745;
                                }

                                .status-pending {
                                    background-color: #ffc107;
                                    color: #333;
                                }

                                .status-shipped {
                                    background-color: #17a2b8;
                                }

                                .status-cancelled {
                                    background-color: #dc3545;
                                }

                                .status-confirmed {
                                    background-color: #0d6efd;
                                }

                                .status-returned {
                                    background-color: #6c757d;
                                }


                                .order-card-body {
                                    padding: 1rem 1.5rem;
                                }

                                .product-item {
                                    display: flex;
                                    align-items: center;
                                    gap: 1rem;
                                    padding: 1rem 0;
                                    border-bottom: 1px solid #f1f1f1;
                                }

                                    .product-item:last-child {
                                        border-bottom: none;
                                        padding-bottom: 0;
                                    }

                                    .product-item .product-image img {
                                        width: 60px;
                                        height: 60px;
                                        object-fit: cover;
                                        border-radius: 6px;
                                    }

                                    .product-item .product-info {
                                        flex-grow: 1; /* Cho phép phần info chiếm nhiều không gian nhất */
                                    }

                                        .product-item .product-info h6 {
                                            margin-bottom: 0.25rem;
                                        }

                                        .product-item .product-info a:hover h6 {
                                            color: var(--theme-color);
                                        }

                                        .product-item .product-info p {
                                            margin: 0;
                                            font-size: 0.9rem;
                                            color: #6c757d;
                                        }

                                    .product-item .product-quantity {
                                        color: #6c757d;
                                    }

                                    .product-item .product-total h6 {
                                        margin: 0;
                                        font-weight: 600;
                                        min-width: 80px; /* Đảm bảo các giá tiền thẳng hàng */
                                        text-align: right;
                                    }

                                /* CSS cho trường hợp không có đơn hàng */
                                .empty-order-history {
                                    text-align: center;
                                    padding: 3rem 1rem;
                                    border: 2px dashed #e0e0e0;
                                    border-radius: 8px;
                                    background-color: #f8f9fa;
                                }

                                    .empty-order-history i {
                                        width: 60px;
                                        height: 60px;
                                        color: var(--theme-color);
                                        margin-bottom: 1rem;
                                    }

                                    .empty-order-history h4 {
                                        font-weight: 600;
                                    }

                                    .empty-order-history p {
                                        color: #6c757d;
                                        margin-bottom: 1.5rem;
                                    }
                            </style>
                            <div class="tab-pane fade" id="pills-card" role="tabpanel">
                                <div class="dashboard-card">
                                    <div class="title title-flex">
                                        <div>
                                            <h2>My Card Details</h2>
                                            <span class="title-leaf">
                                                <svg class="icon-width bg-gray">
                                                    <use xlink:href="~/svg/leaf.svg#leaf"></use>
                                                </svg>
                                            </span>
                                        </div>

                                        <button class="btn theme-bg-color text-white btn-sm fw-bold mt-lg-0 mt-3"
                                                data-bs-toggle="modal" data-bs-target="#editCard">
                                            <i data-feather="plus"
                                               class="me-2"></i> Add New Card
                                        </button>
                                    </div>

                                    <div class="row g-4">
                                        <div class="col-xxl-4 col-xl-6 col-lg-12 col-sm-6">
                                            <div class="payment-card-detail">
                                                <div class="card-details">
                                                    <div class="card-number">
                                                        <h4>XXXX - XXXX - XXXX - 2548</h4>
                                                    </div>

                                                    <div class="valid-detail">
                                                        <div class="title">
                                                            <span>valid</span>
                                                            <span>thru</span>
                                                        </div>
                                                        <div class="date">
                                                            <h3>08/05</h3>
                                                        </div>
                                                        <div class="primary">
                                                            <span class="badge bg-pill badge-light">primary</span>
                                                        </div>
                                                    </div>

                                                    <div class="name-detail">
                                                        <div class="name">
                                                            <h5>Audrey Carol</h5>
                                                        </div>
                                                        <div class="card-img">
                                                            <img src="~/images/payment-icon/1.jpg"
                                                                 class="img-fluid blur-up lazyloaded" alt="">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="edit-card">
                                                    <a data-bs-toggle="modal" data-bs-target="#editCard"
                                                       href="javascript:void(0)"><i class="far fa-edit"></i> edit</a>
                                                    <a href="javascript:void(0)" data-bs-toggle="modal"
                                                       data-bs-target="#removeProfile">
                                                        <i class="far fa-minus-square"></i> delete
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="edit-card-mobile">
                                                <a data-bs-toggle="modal" data-bs-target="#editCard"
                                                   href="javascript:void(0)"><i class="far fa-edit"></i> edit</a>
                                                <a href="javascript:void(0)">
                                                    <i class="far fa-minus-square"></i>
                                                    delete
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-xxl-4 col-xl-6 col-lg-12 col-sm-6">
                                            <div class="payment-card-detail">
                                                <div class="card-details card-visa">
                                                    <div class="card-number">
                                                        <h4>XXXX - XXXX - XXXX - 1536</h4>
                                                    </div>

                                                    <div class="valid-detail">
                                                        <div class="title">
                                                            <span>valid</span>
                                                            <span>thru</span>
                                                        </div>
                                                        <div class="date">
                                                            <h3>12/23</h3>
                                                        </div>
                                                        <div class="primary">
                                                            <span class="badge bg-pill badge-light">primary</span>
                                                        </div>
                                                    </div>

                                                    <div class="name-detail">
                                                        <div class="name">
                                                            <h5>Leah Heather</h5>
                                                        </div>
                                                        <div class="card-img">
                                                            <img src="~/images/payment-icon/2.jpg"
                                                                 class="img-fluid blur-up lazyloaded" alt="">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="edit-card">
                                                    <a data-bs-toggle="modal" data-bs-target="#editCard"
                                                       href="javascript:void(0)"><i class="far fa-edit"></i> edit</a>
                                                    <a href="javascript:void(0)" data-bs-toggle="modal"
                                                       data-bs-target="#removeProfile">
                                                        <i class="far fa-minus-square"></i> delete
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="edit-card-mobile">
                                                <a data-bs-toggle="modal" data-bs-target="#editCard"
                                                   href="javascript:void(0)"><i class="far fa-edit"></i> edit</a>
                                                <a href="javascript:void(0)">
                                                    <i class="far fa-minus-square"></i>
                                                    delete
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-xxl-4 col-xl-6 col-lg-12 col-sm-6">
                                            <div class="payment-card-detail">
                                                <div class="card-details debit-card">
                                                    <div class="card-number">
                                                        <h4>XXXX - XXXX - XXXX - 1366</h4>
                                                    </div>

                                                    <div class="valid-detail">
                                                        <div class="title">
                                                            <span>valid</span>
                                                            <span>thru</span>
                                                        </div>
                                                        <div class="date">
                                                            <h3>05/21</h3>
                                                        </div>
                                                        <div class="primary">
                                                            <span class="badge bg-pill badge-light">primary</span>
                                                        </div>
                                                    </div>

                                                    <div class="name-detail">
                                                        <div class="name">
                                                            <h5>mark jecno</h5>
                                                        </div>
                                                        <div class="card-img">
                                                            <img src="~/images/payment-icon/3.jpg"
                                                                 class="img-fluid blur-up lazyloaded" alt="">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="edit-card">
                                                    <a data-bs-toggle="modal" data-bs-target="#editCard"
                                                       href="javascript:void(0)"><i class="far fa-edit"></i> edit</a>
                                                    <a href="javascript:void(0)" data-bs-toggle="modal"
                                                       data-bs-target="#removeProfile">
                                                        <i class="far fa-minus-square"></i> delete
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="edit-card-mobile">
                                                <a data-bs-toggle="modal" data-bs-target="#editCard"
                                                   href="javascript:void(0)"><i class="far fa-edit"></i> edit</a>
                                                <a href="javascript:void(0)">
                                                    <i class="far fa-minus-square"></i>
                                                    delete
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-address" role="tabpanel" aria-labelledby="pills-address-tab">
                                <div class="dashboard-address">
                                    <div class="title">
                                        <h2>Quản lý địa chỉ giao hàng</h2>
                                        <span class="title-leaf">
                                            <svg class="icon-width bg-gray">
                                                <use xlink:href="~/svg/leaf.svg#leaf"></use>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="address-management dashboard-bg-box">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <div class="dashboard-title">
                                                <h3>Danh sách địa chỉ</h3>
                                            </div>
                                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAddressModal">
                                                <i class="fa-solid fa-plus"></i> Thêm địa chỉ mới
                                            </button>
                                        </div>

                                        <div class="address-list">
                                            @if (location != null && location.Any())
                                            {
                                                <div class="row g-3">
                                                    @foreach (var addr in location)
                                                    {
                                                        <div class="col-md-6 col-lg-4">
                                                            <div class="address-card">
                                                                <div class="address-card-header">
                                                                    <h6 class="address-label">@addr.Label</h6>
                                                                    <div class="address-actions">
                                                                        <button class="btn btn-sm btn-outline-primary" 
                                                                                onclick="editAddress(@addr.Id, '@addr.Label', '@addr.Address', @addr.Latitude, @addr.Longitude)">
                                                                            <i class="fa-solid fa-edit"></i>
                                                                        </button>
                                                                        <button class="btn btn-sm btn-outline-danger" 
                                                                                onclick="deleteAddress(@addr.Id)">
                                                                            <i class="fa-solid fa-trash"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="address-card-body">
                                                                    <p class="address-text">@addr.Address</p>
                                                                    <small class="text-muted">
                                                                        <i class="fa-solid fa-map-marker-alt"></i>
                                                                        Lat: @addr.Latitude, Lng: @addr.Longitude
                                                                    </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="empty-address">
                                                    <i data-feather="map-pin"></i>
                                                    <h4>Bạn chưa có địa chỉ nào.</h4>
                                                    <p>Thêm địa chỉ để thuận tiện cho việc giao hàng!</p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="dashboard-profile">
                                    <div class="title">
                                        <h2>Thông tin cá nhân</h2>
                                        <span class="title-leaf">
                                            <svg class="icon-width bg-gray">
                                                <use xlink:href="~/svg/leaf.svg#leaf"></use>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="profile-detail dashboard-bg-box">
                                        <div class="dashboard-title">
                                            <h3>Xin chào! @ViewBag.Username</h3>
                                        </div>
                                        <div class="location-profile">
                                            <ul>
                                                <li>
                                                    <div class="location-box">
                                                        <i data-feather="mail"></i>
                                                        <h6>@ViewBag.Email</h6>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="profile-about dashboard-bg-box">
                                        <div class="row">
                                            <div class="col-xxl-7">
                                                <div class="dashboard-title mb-3">
                                                    <h3>Thông tin cá nhân</h3>
                                                </div>

                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Số điện thoại :</td>
                                                                <td>
                                                                    <a href="javascript:void(0)">
                                                                        @ViewBag.Phone
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="dashboard-title mb-3">
                                                    <h3>Thông tin đăng nhập</h3>
                                                </div>

                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Email :</td>
                                                                <td>
                                                                    <a href="javascript:void(0)">
                                                                        @ViewBag.Email
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mật khẩu :</td>
                                                                <td>
                                                                    <a href="javascript:void(0)">
                                                                        ●●●●●●
                                                                        <a href="/changepassword">Đổi mật khẩu</a>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="col-xxl-5">
                                                <div class="profile-image">
                                                    <img src="~/images/inner-page/dashboard-profile.png"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- User Dashboard Section End -->
    <!-- Edit Profile Start -->
    <div class="modal fade theme-modal" id="editProfile" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Sửa thông tin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row g-4">
                        <div class="col-xxl-6">
                            <form>
                                <div class="form-floating theme-form-floating">
                                    <input type="email" class="form-control" id="email1" value="@ViewBag.Email" onchange="checkEmailChanged()">
                                    <label for="email1">Email</label>
                                </div>
                            </form>
                        </div>

                        <div class="col-xxl-6">
                            <form>
                                <div class="form-floating theme-form-floating">
                                    <input class="form-control" type="tel" value="@ViewBag.Phone" name="mobile" id="mobile"
                                           maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value =
                                            this.value.slice(0, this.maxLength);">
                                    <label for="mobile">Số điện thoại</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-animation btn-md fw-bold"
                                data-bs-dismiss="modal">
                            Đóng
                        </button>
                        <button type="button" class="btn theme-bg-color btn-md fw-bold text-light" onclick="handleSave()">
                            Lưu
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Profile End -->
    @* api lay địa chỉ *@
    <script>
        const originalEmail = "@Html.Raw(ViewBag.Email?.ToString() ?? "")";
        const originalPhone = "@Html.Raw(ViewBag.Phone?.ToString() ?? "")";

        async function handleSave() {
            const email = document.getElementById("email1").value.trim();
            const phone = document.getElementById("mobile").value.trim();

            // Kiểm tra có thay đổi gì không
            const hasChanged =
                email !== originalEmail ||
                phone !== originalPhone 

            if (!hasChanged) {
                alert("Bạn chưa thay đổi thông tin nào.");
                return;
            }

            // Chuyển đến OTP để xác minh
            const url = new URL('/otp', window.location.origin);
            url.searchParams.set('email', email);
            url.searchParams.set('phone', phone);
            window.location.href = url.toString();
        }
    </script>

    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- Edit address modal box start -->
    <div class="modal fade" id="edit-address" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="edit-address-form">
                    <div class="modal-header">
                        <h5 class="modal-title">Sửa địa chỉ</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="edit-id">
                        <div class="mb-3">
                            <label>Tên</label>
                            <input type="text" class="form-control" id="edit-label">
                        </div>
                        <div class="mb-3">
                            <label>Địa chỉ</label>
                            <textarea class="form-control" id="edit-address-text" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit address modal box end -->
    <script>
            document.querySelectorAll('.edit-btn').forEach(btn => {
                btn.addEventListener('click', () => {
                    document.getElementById('edit-id').value = btn.dataset.id;
                    document.getElementById('edit-label').value = btn.dataset.label;
                    document.getElementById('edit-address-text').value = btn.dataset.address;
                });
            });
        console.log(data); // xem trước khi fetch
    </script>
    <script>
            document.getElementById("edit-address-form").addEventListener("submit", async function (e) {
            e.preventDefault();

            const id = document.getElementById("edit-id").value;
            const label = document.getElementById("edit-label").value;
            const address = document.getElementById("edit-address-text").value;

            try {
                const coords = await getCoordinatesFromAddress(address); // dùng LocationIQ

                const data = {
                    Id: parseInt(id),
                    Label: label,
                    Address: address,
                    Latitude: coords.latitude,
                    Longitude: coords.longitude
                };

                const res = await fetch(`/api/location/update`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

                if (!res.ok) throw new Error("Lỗi khi cập nhật");
                const result = await res.json();
                alert(result.message);
                location.reload();
            } catch (err) {
                alert("Lỗi: " + err.message);
            }
        });
    </script>

    <!-- Add address modal box start -->
    @{
        var userId = Context.Session.GetInt32("UserId") ?? 0;
    }
    <div class="modal fade theme-modal" id="add-address" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm địa chỉ mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body">
                    <form id="address-form">
                        <input type="hidden" id="userId" value="@userId" />
                        <input type="hidden" id="latitude" />
                        <input type="hidden" id="longitude" />

                        <div class="form-floating mb-4 theme-form-floating">
                            <input type="text" class="form-control" id="fname" placeholder="Nhập họ tên">
                            <label for="fname">Họ tên</label>
                        </div>

                        <div class="form-floating mb-4 theme-form-floating">
                            <textarea class="form-control" placeholder="Nhập địa chỉ" id="address" style="height: 100px"></textarea>
                            <label for="address">Địa chỉ</label>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-md" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn theme-bg-color btn-md text-white">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Add address modal box end -->


    <!-- Remove Address Modal Start -->
    <div class="modal fade" id="remove-address" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="remove-address-form">
                    <div class="modal-header">
                        <h5 class="modal-title">Xác nhận xoá</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có chắc chắn muốn xoá địa chỉ này?</p>
                        <input type="hidden" id="remove-id">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Xoá</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        // Gán id vào hidden input khi click nút Remove
        document.querySelectorAll('.remove-btn').forEach(btn => {
            btn.addEventListener('click', () => {
                document.getElementById('remove-id').value = btn.dataset.id;
            });
        });

        // Submit form xoá
        document.getElementById("remove-address-form").addEventListener("submit", async function (e) {
            e.preventDefault();

            const id = document.getElementById("remove-id").value;

            try {
                const res = await fetch(`/api/location/delete/${id}`, {
                    method: 'DELETE'
                });

                if (!res.ok) throw new Error("Xoá thất bại");
                const result = await res.json();
                alert(result.message);
                location.reload();
            } catch (err) {
                alert("Lỗi: " + err.message);
            }
        });
    </script>

    <script>
        const originalEmail = "@Html.Raw(ViewBag.Email?.ToString() ?? "")";
        const originalPhone = "@Html.Raw(ViewBag.Phone?.ToString() ?? "")";

        async function handleSave() {
            const email = document.getElementById("email1").value.trim();
            const phone = document.getElementById("mobile").value.trim();

            // Kiểm tra có thay đổi gì không
            const hasChanged =
                email !== originalEmail ||
                phone !== originalPhone;

            if (!hasChanged) {
                alert("Bạn chưa thay đổi thông tin nào.");
                return;
            }

            // Chuyển đến OTP để xác minh
            const url = new URL('/otp', window.location.origin);
            url.searchParams.set('email', email);
            url.searchParams.set('phone', phone);
            window.location.href = url.toString();
        }
    </script>

    <!-- Edit Profile End -->
    
    <!-- Modal thêm/sửa địa chỉ -->
    <div class="modal fade address-modal" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <form id="addressForm" method="post" action="@Url.Action("AddAddress", "Customer")">
                @Html.AntiForgeryToken()
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addAddressModalLabel">Thêm địa chỉ mới</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="addressId" name="id" value="0" />
                        <input type="hidden" id="addressLat" name="latitude" />
                        <input type="hidden" id="addressLng" name="longitude" />
                        
                        <div class="mb-3">
                            <label for="addressLabel" class="form-label">Tên địa chỉ *</label>
                            <input type="text" class="form-control" id="addressLabel" name="label" required 
                                   placeholder="VD: Nhà riêng, Công ty, Trường học...">
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-floating theme-form-floating mb-3">
                                    <select class="form-select" id="addressProvinceSelect" onchange="onAddressProvinceChange()">
                                        <option value="">Chọn tỉnh</option>
                                    </select>
                                    <label for="addressProvinceSelect">Tỉnh/Thành phố *</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating theme-form-floating mb-3">
                                    <select class="form-select" id="addressDistrictSelect" onchange="onAddressDistrictChange()">
                                        <option value="">Chọn quận/huyện</option>
                                    </select>
                                    <label for="addressDistrictSelect">Quận/Huyện *</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating theme-form-floating mb-3">
                                    <select class="form-select" id="addressWardSelect">
                                        <option value="">Chọn phường/xã</option>
                                    </select>
                                    <label for="addressWardSelect">Phường/Xã *</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="addressDetail" class="form-label">Địa chỉ chi tiết *</label>
                            <textarea class="form-control" id="addressDetail" name="addressDetail" rows="2" required 
                                      placeholder="Số nhà, tên đường, tên khu vực..."></textarea>
                        </div>
                        
                        <div class="alert alert-info">
                            <i class="fa-solid fa-info-circle"></i>
                            Hệ thống sẽ tự động tạo địa chỉ đầy đủ từ thông tin bạn chọn.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary" id="saveAddressBtn">
                            <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                            Lưu địa chỉ
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal xác nhận xóa địa chỉ -->
    <div class="modal fade" id="deleteAddressModal" tabindex="-1" aria-labelledby="deleteAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAddressModalLabel">Xác nhận xóa địa chỉ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa địa chỉ này không?</p>
                    <p class="text-muted" id="deleteAddressText"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <form method="post" action="@Url.Action("DeleteAddress", "Customer")" style="display: inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="deleteAddressId" name="id" />
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Remove Address Modal End -->
    <!-- latest jquery-->
    <script src="~/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="~/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="~/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="~/js/feather/feather.min.js"></script>
    <script src="~/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="~/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="~/js/slick/slick.js"></script>
    <script src="~/js/slick/custom_slick.js"></script>

    <!-- Quantity js -->
    <script src="~/js/quantity-2.js"></script>

    <!-- Nav & tab upside js -->
    <script src="~/js/nav-tab.js"></script>

    <!-- script js -->
    <script src="~/js/script.js"></script>

    <!-- theme setting js -->
    <script src="~/js/theme-setting.js"></script>
    <style>
        /* CSS cho address cards */
        .address-card {
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
            height: 100%;
        }

        .address-card:hover {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
            transform: translateY(-2px);
        }

        .address-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-bottom: 1px solid #f0f0f0;
            background-color: #f8f9fa;
            border-radius: 8px 8px 0 0;
        }

        .address-label {
            margin: 0;
            font-weight: 600;
            color: #333;
        }

        .address-actions {
            display: flex;
            gap: 0.5rem;
        }

        .address-card-body {
            padding: 1rem;
        }

        .address-text {
            margin: 0 0 0.5rem 0;
            color: #555;
            line-height: 1.4;
        }

        .empty-address {
            text-align: center;
            padding: 3rem 1rem;
            border: 2px dashed #e0e0e0;
            border-radius: 8px;
            background-color: #f8f9fa;
        }

        .empty-address i {
            font-size: 3rem;
            color: #ccc;
            margin-bottom: 1rem;
        }

        .empty-address h4 {
            color: #666;
            margin-bottom: 0.5rem;
        }

        .empty-address p {
            color: #999;
            margin-bottom: 1.5rem;
        }

        /* Modal styles */
        .address-modal .modal-body {
            padding: 1.5rem;
        }

        .address-modal .form-label {
            font-weight: 600;
            color: #333;
        }

        .address-modal .form-control {
            border-radius: 6px;
            border: 1px solid #ddd;
        }

        .address-modal .form-control:focus {
            border-color: #0d6efd;
            box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
        }
    </style>

    <script>
        // Load danh sách tỉnh thành khi modal mở
        document.getElementById('addAddressModal').addEventListener('show.bs.modal', function() {
            loadProvincesForAddress();
        });

        // Load dữ liệu địa chỉ giống FamerBecome
        let provinces = [];

        // Load danh sách tỉnh thành cho modal địa chỉ
        async function loadProvincesForAddress() {
            const provinceSelect = document.getElementById('addressProvinceSelect');
            if (provinceSelect.children.length > 1) return; // Đã load rồi

            try {
                const res = await fetch('/api/provinces');
                const data = await res.json();
                provinces = data;
                
                data.forEach(p => {
                    const opt = new Option(p.name, p.code);
                    provinceSelect.add(opt);
                });
            } catch (error) {
                console.error('Lỗi khi load danh sách tỉnh:', error);
            }
        }

        // Xử lý khi chọn tỉnh trong modal địa chỉ - GIỐNG FAMERBECOME
        function onAddressProvinceChange() {
            const provinceSelect = document.getElementById('addressProvinceSelect');
            const districtSelect = document.getElementById('addressDistrictSelect');
            const wardSelect = document.getElementById('addressWardSelect');

            districtSelect.innerHTML = '<option value="">Chọn quận/huyện</option>';
            wardSelect.innerHTML = '<option value="">Chọn phường/xã</option>';
            wardSelect.disabled = true;

            const selectedProvince = provinces.find(p => p.code == provinceSelect.value);
            if (!selectedProvince) return;

            selectedProvince.districts.forEach(d => {
                districtSelect.add(new Option(d.name, d.code));
            });
            districtSelect.disabled = false;
        }

        // Xử lý khi chọn quận/huyện trong modal địa chỉ - GIỐNG FAMERBECOME
        function onAddressDistrictChange() {
            const provinceSelect = document.getElementById('addressProvinceSelect');
            const districtSelect = document.getElementById('addressDistrictSelect');
            const wardSelect = document.getElementById('addressWardSelect');

            wardSelect.innerHTML = '<option value="">Chọn phường/xã</option>';

            const selectedProvince = provinces.find(p => p.code == provinceSelect.value);
            const selectedDistrict = selectedProvince?.districts.find(d => d.code == districtSelect.value);
            
            if (!selectedDistrict) return;

            selectedDistrict.wards.forEach(w => {
                wardSelect.add(new Option(w.name, w.code));
            });
            wardSelect.disabled = false;
        }

        // Hàm sửa địa chỉ
        function editAddress(id, label, address, latitude, longitude) {
            document.getElementById('addressId').value = id;
            document.getElementById('addressLabel').value = label;
            document.getElementById('addressLat').value = latitude;
            document.getElementById('addressLng').value = longitude;
            
            document.getElementById('addAddressModalLabel').textContent = 'Sửa địa chỉ';
            document.getElementById('addressForm').action = '@Url.Action("EditAddress", "Customer")';
            
            const modal = new bootstrap.Modal(document.getElementById('addAddressModal'));
            modal.show();
        }

        // Hàm xóa địa chỉ
        function deleteAddress(id) {
            document.getElementById('deleteAddressId').value = id;
            
            const modal = new bootstrap.Modal(document.getElementById('deleteAddressModal'));
            modal.show();
        }

        // Xử lý form thêm/sửa địa chỉ
        document.getElementById('addressForm').addEventListener('submit', function(e) {
            e.preventDefault();
            
            const label = document.getElementById('addressLabel').value.trim();
            const detailAddress = document.getElementById('addressDetail').value.trim();
            const provinceSelect = document.getElementById('addressProvinceSelect');
            const districtSelect = document.getElementById('addressDistrictSelect');
            const wardSelect = document.getElementById('addressWardSelect');
            
            // Validation
            if (!label || !detailAddress || !provinceSelect.value || !districtSelect.value || !wardSelect.value) {
                alert("Vui lòng nhập đầy đủ thông tin địa chỉ.");
                return;
            }

            // Tạo địa chỉ đầy đủ giống FamerBecome
            const provinceText = provinceSelect.options[provinceSelect.selectedIndex]?.text;
            const districtText = districtSelect.options[districtSelect.selectedIndex]?.text;
            const wardText = wardSelect.options[wardSelect.selectedIndex]?.text;

            const fullAddress = `${detailAddress}, ${wardText}, ${districtText}, ${provinceText}`;
            
            // Tạo input ẩn để gửi địa chỉ đầy đủ
            let addressInput = document.getElementById('addressInput');
            if (!addressInput) {
                addressInput = document.createElement('input');
                addressInput.type = 'hidden';
                addressInput.name = 'address';
                addressInput.id = 'addressInput';
                this.appendChild(addressInput);
            }
            addressInput.value = fullAddress;
            
            // Submit form
            this.submit();
        });

        // Reset modal khi đóng
        document.getElementById('addAddressModal').addEventListener('hidden.bs.modal', function() {
            document.getElementById('addressId').value = '0';
            document.getElementById('addressLabel').value = '';
            document.getElementById('addressDetail').value = '';
            document.getElementById('addressLat').value = '';
            document.getElementById('addressLng').value = '';
            document.getElementById('addAddressModalLabel').textContent = 'Thêm địa chỉ mới';
            document.getElementById('addressForm').action = '@Url.Action("AddAddress", "Customer")';
            
            // Reset các dropdown
            document.getElementById('addressProvinceSelect').value = '';
            document.getElementById('addressDistrictSelect').innerHTML = '<option value="">Chọn quận/huyện</option>';
            document.getElementById('addressWardSelect').innerHTML = '<option value="">Chọn phường/xã</option>';
            document.getElementById('addressDistrictSelect').disabled = true;
            document.getElementById('addressWardSelect').disabled = true;
        });

        // Auto-hide alerts after 5 seconds
        setTimeout(function() {
            const alerts = document.querySelectorAll('.alert');
            alerts.forEach(alert => {
                const bsAlert = new bootstrap.Alert(alert);
                bsAlert.close();
            });
        }, 5000);
    </script>

</body>

</html>