@{
    ViewData["Title"] = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="~/images/favicon/1.png" type="image/x-icon">
    <title>On-demand last-mile delivery</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/css/vendors/bootstrap.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<body>
    <!-- User Dashboard Section Start -->
    <section class="user-dashboard-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-3 col-lg-4">
                    <div class="dashboard-left-sidebar">
                        <div class="close-button d-flex d-lg-none">
                            <button class="close-sidebar">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <div class="profile-box">
                            <div class="cover-image">
                                <img src="~/images/inner-page/cover-img.jpg" class="img-fluid blur-up lazyload"
                                     alt="">
                            </div>

                            <div class="profile-contain">
                                <div class="profile-image">
                                    <div class="position-relative">
                                        <img src="~/images/inner-page/user/1.jpg"
                                             class="blur-up lazyload update_img" alt="">
                                    </div>
                                </div>

                                <div class="profile-name">
                                    <h3>@ViewBag.Username</h3>
                                    <h6 class="text-content">@ViewBag.Email</h6>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-pills user-nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-dashboard-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-dashboard" type="button">
                                    <i data-feather="home"></i>
                                    DashBoard
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-order-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-order" type="button">
                                    <i data-feather="shopping-bag"></i>Order
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-profile" type="button" role="tab">
                                    <i data-feather="user"></i>
                                    Profile
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xxl-9 col-lg-8">
                    <button class="btn left-dashboard-show btn-animation btn-md fw-bold d-block mb-4 d-lg-none">
                        Show
                        Menu
                    </button>
                    <div class="dashboard-right-sidebar">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel">
                                <div class="dashboard-home">
                                    <div class="title">
                                        <h2>My Dashboard</h2>
                                        <span class="title-leaf">
                                            <svg class="icon-width bg-gray">
                                                <use xlink:href="~/svg/leaf.svg#leaf"></use>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="dashboard-user-name">
                                        <h6 class="text-content">Xin chào, <b class="text-title">@ViewBag.Username</b></h6>
                                        <p class="text-content">
                                            Từ Bảng điều khiển Tài khoản của tôi, bạn có thể
                                            xem ảnh chụp nhanh về hoạt động tài khoản gần đây của mình và cập nhật thông tin tài khoản
                                            . Chọn liên kết bên dưới để xem hoặc chỉnh sửa thông tin.
                                        </p>
                                    </div>

                                    <div class="total-box">
                                        <div class="row g-sm-4 g-3">
                                            <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6">
                                                <div class="total-contain">
                                                    <img src="~/images/svg/order.svg"
                                                         class="img-1 blur-up lazyload" alt="">
                                                    <img src="~/images/svg/order.svg" class="blur-up lazyload"
                                                         alt="">
                                                    <div class="total-detail">
                                                        <h5>Tổng số đơn hàng</h5>
                                                        <h3>@ViewBag.TotalOrders</h3>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6">
                                                <div class="total-contain">
                                                    <img src="~/images/svg/pending.svg"
                                                         class="img-1 blur-up lazyload" alt="">
                                                    <img src="~/images/svg/pending.svg" class="blur-up lazyload"
                                                         alt="">
                                                    <div class="total-detail">
                                                        <h5>Đơn hàng đang xử lý</h5>
                                                        <h3>@ViewBag.PendingOrders</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dashboard-title">
                                        <h3>Account Information</h3>
                                    </div>

                                    <div class="row g-4">
                                        <div class="col-xxl-6">
                                            <div class="dashboard-content-title">
                                                <h4>
                                                    Thông tin khách hàng <a href="javascript:void(0)"
                                                                           data-bs-toggle="modal" data-bs-target="#editProfile">Edit</a>
                                                </h4>
                                            </div>
                                            <div class="dashboard-detail">
                                                <h6 class="text-content">Username: @ViewBag.Username</h6>
                                                <h6 class="text-content">Email: @ViewBag.Email</h6>
                                                <h6 class="text-content">Địa chỉ: @ViewBag.Address</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-order" role="tabpanel">
                                <div class="dashboard-order">
                                    <div class="title">
                                        <h2>My Orders History</h2>
                                        <span class="title-leaf title-leaf-gray">
                                            <svg class="icon-width bg-gray">
                                                <use xlink:href="~/svg/leaf.svg#leaf"></use>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="order-contain">
                                        <div class="order-box dashboard-bg-box">
                                            <div class="order-container">
                                                <div class="order-icon">
                                                    <i data-feather="box"></i>
                                                </div>

                                                <div class="order-detail">
                                                    <h4>Delivers <span>Pending</span></h4>
                                                    <h6 class="text-content">
                                                        Gouda parmesan caerphilly mozzarella
                                                        cottage cheese cauliflower cheese taleggio gouda.
                                                    </h6>
                                                </div>
                                            </div>

                                            <div class="product-order-detail">
                                                <a href="product-left-thumbnail.html" class="order-image">
                                                    <img src="~/images/vegetable/product/1.png"
                                                         class="blur-up lazyload" alt="">
                                                </a>

                                                <div class="order-wrap">
                                                    <a href="product-left-thumbnail.html">
                                                        <h3>Fantasy Crunchy Choco Chip Cookies</h3>
                                                    </a>
                                                    <p class="text-content">
                                                        Cheddar dolcelatte gouda. Macaroni cheese
                                                        cheese strings feta halloumi cottage cheese jarlsberg cheese
                                                        triangles say cheese.
                                                    </p>
                                                    <ul class="product-size">
                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Price : </h6>
                                                                <h5>$20.68</h5>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Rate : </h6>
                                                                <div class="product-rating ms-2">
                                                                    <ul class="rating">
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star"></i>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Sold By : </h6>
                                                                <h5>Fresho</h5>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Quantity : </h6>
                                                                <h5>250 G</h5>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="order-box dashboard-bg-box">
                                            <div class="order-container">
                                                <div class="order-icon">
                                                    <i data-feather="box"></i>
                                                </div>

                                                <div class="order-detail">
                                                    <h4>Delivered <span class="success-bg">Success</span></h4>
                                                    <h6 class="text-content">
                                                        Cheese on toast cheesy grin cheesy grin
                                                        cottage cheese caerphilly everyone loves cottage cheese the big
                                                        cheese.
                                                    </h6>
                                                </div>
                                            </div>

                                            <div class="product-order-detail">
                                                <a href="product-left-thumbnail.html" class="order-image">
                                                    <img src="~/images/vegetable/product/2.png" alt=""
                                                         class="blur-up lazyload">
                                                </a>

                                                <div class="order-wrap">
                                                    <a href="product-left-thumbnail.html">
                                                        <h3>Cold Brew Coffee Instant Coffee 50 g</h3>
                                                    </a>
                                                    <p class="text-content">
                                                        Pecorino paneer port-salut when the cheese
                                                        comes out everybody's happy red leicester mascarpone blue
                                                        castello cauliflower cheese.
                                                    </p>
                                                    <ul class="product-size">
                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Price : </h6>
                                                                <h5>$20.68</h5>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Rate : </h6>
                                                                <div class="product-rating ms-2">
                                                                    <ul class="rating">
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star"></i>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Sold By : </h6>
                                                                <h5>Fresho</h5>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Quantity : </h6>
                                                                <h5>250 G</h5>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="order-box dashboard-bg-box">
                                            <div class="order-container">
                                                <div class="order-icon">
                                                    <i data-feather="box"></i>
                                                </div>

                                                <div class="order-detail">
                                                    <h4>Delivere <span>Pending</span></h4>
                                                    <h6 class="text-content">
                                                        Cheesy grin boursin cheesy grin cheesecake
                                                        blue castello cream cheese lancashire melted cheese.
                                                    </h6>
                                                </div>
                                            </div>

                                            <div class="product-order-detail">
                                                <a href="product-left-thumbnail.html" class="order-image">
                                                    <img src="~/images/vegetable/product/3.png" alt=""
                                                         class="blur-up lazyload">
                                                </a>

                                                <div class="order-wrap">
                                                    <a href="product-left-thumbnail.html">
                                                        <h3>Peanut Butter Bite Premium Butter Cookies 600 g</h3>
                                                    </a>
                                                    <p class="text-content">
                                                        Cow bavarian bergkase mascarpone paneer
                                                        squirty cheese fromage frais cheese slices when the cheese comes
                                                        out everybody's happy.
                                                    </p>
                                                    <ul class="product-size">
                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Price : </h6>
                                                                <h5>$20.68</h5>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Rate : </h6>
                                                                <div class="product-rating ms-2">
                                                                    <ul class="rating">
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star"></i>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Sold By : </h6>
                                                                <h5>Fresho</h5>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Quantity : </h6>
                                                                <h5>250 G</h5>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="order-box dashboard-bg-box">
                                            <div class="order-container">
                                                <div class="order-icon">
                                                    <i data-feather="box"></i>
                                                </div>

                                                <div class="order-detail">
                                                    <h4>Delivered <span class="success-bg">Success</span></h4>
                                                    <h6 class="text-content">
                                                        Caerphilly port-salut parmesan pecorino
                                                        croque monsieur dolcelatte melted cheese cheese and wine.
                                                    </h6>
                                                </div>
                                            </div>

                                            <div class="product-order-detail">
                                                <a href="product-left-thumbnail.html" class="order-image">
                                                    <img src="~/images/vegetable/product/4.png"
                                                         class="blur-up lazyload" alt="">
                                                </a>

                                                <div class="order-wrap">
                                                    <a href="product-left-thumbnail.html">
                                                        <h3>SnackAmor Combo Pack of Jowar Stick and Jowar Chips</h3>
                                                    </a>
                                                    <p class="text-content">
                                                        The big cheese cream cheese pepper jack
                                                        cheese slices danish fontina everyone loves cheese on toast
                                                        bavarian bergkase.
                                                    </p>
                                                    <ul class="product-size">
                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Price : </h6>
                                                                <h5>$20.68</h5>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Rate : </h6>
                                                                <div class="product-rating ms-2">
                                                                    <ul class="rating">
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star"></i>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Sold By : </h6>
                                                                <h5>Fresho</h5>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="size-box">
                                                                <h6 class="text-content">Quantity : </h6>
                                                                <h5>250 G</h5>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-profile" role="tabpanel">
                                <div class="dashboard-profile">
                                    <div class="title">
                                        <h2>My Profile</h2>
                                        <span class="title-leaf">
                                            <svg class="icon-width bg-gray">
                                                <use xlink:href="~/svg/leaf.svg#leaf"></use>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="profile-detail dashboard-bg-box">
                                        <div class="dashboard-title">
                                            <h3>Xin chào! @ViewBag.Username</h3>
                                        </div>
                                        <div class="location-profile">
                                            <ul>
                                                <li>
                                                    <div class="location-box">
                                                        <i data-feather="map-pin"></i>
                                                        <h6>Downers Grove, IL</h6>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="location-box">
                                                        <i data-feather="mail"></i>
                                                        <h6>@ViewBag.Email</h6>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="profile-description">
                                            <p>
                                                Residences can be classified by and how they are connected to
                                                neighbouring residences and land. Different types of housing tenure can
                                                be used for the same physical type.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="profile-about dashboard-bg-box">
                                        <div class="row">
                                            <div class="col-xxl-7">
                                                <div class="dashboard-title mb-3">
                                                    <h3>Profile About</h3>
                                                </div>

                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Số điện thoại :</td>
                                                                <td>
                                                                    <a href="javascript:void(0)">
                                                                        @ViewBag.Phone
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Address :</td>
                                                                <td>@ViewBag.Address</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="dashboard-title mb-3">
                                                    <h3>Login Details</h3>
                                                </div>

                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Email :</td>
                                                                <td>
                                                                    <a href="javascript:void(0)">
                                                                        @ViewBag.Email
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mật khẩu :</td>
                                                                <td>
                                                                    <a href="javascript:void(0)">
                                                                        ●●●●●●
                                                                        <a href="/changepassword">Đổi mật khẩu</a>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="col-xxl-5">
                                                <div class="profile-image">
                                                    <img src="~/images/inner-page/dashboard-profile.png"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- User Dashboard Section End -->

    <!-- Edit Profile Start -->
    <div class="modal fade theme-modal" id="editProfile" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Edit Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row g-4">
                        <div class="col-xxl-6">
                            <form>
                                <div class="form-floating theme-form-floating">
                                    <input type="email" class="form-control" id="email1" value="@ViewBag.Email" onchange="checkEmailChanged()">
                                    <label for="email1">Email address</label>
                                </div>
                            </form>
                        </div>

                        <div class="col-xxl-6">
                            <form>
                                <div class="form-floating theme-form-floating">
                                    <input class="form-control" type="tel" value="@ViewBag.Phone" name="mobile" id="mobile"
                                           maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value =
                                            this.value.slice(0, this.maxLength);">
                                    <label for="mobile">Phone Number</label>
                                </div>
                            </form>
                        </div>

                        <div class="col-xxl-12">
                            <div class="form-floating theme-form-floating mb-3">
                                <select class="form-select" id="provinceSelect" onchange="onProvinceChange()">
                                    <option value="">Chọn tỉnh</option>
                                </select>
                                <label for="provinceSelect">Tỉnh/Thành phố</label>
                            </div>

                            <div class="form-floating theme-form-floating mb-3">
                                <select class="form-select" id="districtSelect" onchange="onDistrictChange()">
                                    <option value="">Chọn quận/huyện</option>
                                </select>
                                <label for="districtSelect">Quận/Huyện</label>
                            </div>

                            <div class="form-floating theme-form-floating mb-3">
                                <select class="form-select" id="wardSelect">
                                    <option value="">Chọn phường/xã</option>
                                </select>
                                <label for="wardSelect">Phường/Xã</label>
                            </div>

                            <div class="form-floating theme-form-floating">
                                <input type="text" class="form-control" id="detailAddress" placeholder="Số nhà, đường...">
                                <label for="detailAddress">Địa chỉ chi tiết</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold"
                            data-bs-dismiss="modal">
                        Đóng
                    </button>
                    <button type="button" class="btn theme-bg-color btn-md fw-bold text-light" onclick="handleSave()">
                        Lưu
                    </button>

                </div>
            </div>
        </div>
    </div>
    <!-- Edit Profile End -->

    @* api lay địa chỉ *@
    <script>
        document.addEventListener("DOMContentLoaded", async function () {
            const provinceSelect = document.getElementById("provinceSelect");
            const districtSelect = document.getElementById("districtSelect");
            const wardSelect = document.getElementById("wardSelect");

            const selectedProvince = "@ViewBag.Province";
            const selectedDistrict = "@ViewBag.District";
            const selectedWard = "@ViewBag.Ward";

            const res = await fetch("https://provinces.open-api.vn/api/?depth=3");
            const data = await res.json();

            data.forEach(p => {
                const option = document.createElement("option");
                option.text = p.name;
                option.value = p.code;
                if (p.name === selectedProvince) option.selected = true;
                provinceSelect.appendChild(option);
            });

            const province = data.find(p => p.name === selectedProvince);
            if (province) {
                province.districts.forEach(d => {
                    const option = document.createElement("option");
                    option.text = d.name;
                    option.value = d.code;
                    if (d.name === selectedDistrict) option.selected = true;
                    districtSelect.appendChild(option);
                });

                const district = province.districts.find(d => d.name === selectedDistrict);
                if (district) {
                    district.wards.forEach(w => {
                        const option = document.createElement("option");
                        option.text = w.name;
                        option.value = w.code;
                        if (w.name === selectedWard) option.selected = true;
                        wardSelect.appendChild(option);
                    });
                }
            }
        });
    </script>

    <script>
        const originalEmail = "@Html.Raw(ViewBag.Email?.ToString() ?? "")";
        const originalPhone = "@Html.Raw(ViewBag.Phone?.ToString() ?? "")";
        const originalAddress = "@Html.Raw(ViewBag.Address?.ToString() ?? "")"; // Bạn cần set ViewBag.Address từ server

        async function handleSave() {
            const email = document.getElementById("email1").value.trim();
            const phone = document.getElementById("mobile").value.trim();
            const province = document.querySelector("#provinceSelect option:checked")?.textContent || "";
            const district = document.querySelector("#districtSelect option:checked")?.textContent || "";
            const ward = document.querySelector("#wardSelect option:checked")?.textContent || "";
            const detail = document.getElementById("detailAddress").value.trim();
            const fullAddress = `${detail}, ${ward}, ${district}, ${province}`;

            // Kiểm tra có thay đổi gì không
            const hasChanged =
                email !== originalEmail ||
                phone !== originalPhone ||
                fullAddress !== originalAddress;

            if (!hasChanged) {
                alert("Bạn chưa thay đổi thông tin nào.");
                return;
            }

            // Chuyển đến OTP để xác minh
            const url = new URL('/otp', window.location.origin);
            url.searchParams.set('email', email);
            url.searchParams.set('phone', phone);
            url.searchParams.set('address', fullAddress);
            window.location.href = url.toString();
        }
    </script>

    <!-- Edit Profile End -->
    <!-- latest jquery-->
    <script src="~/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="~/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="~/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="~/js/feather/feather.min.js"></script>
    <script src="~/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="~/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="~/js/slick/slick.js"></script>
    <script src="~/js/slick/custom_slick.js"></script>

    <!-- Quantity js -->
    <script src="~/js/quantity-2.js"></script>

    <!-- Nav & tab upside js -->
    <script src="~/js/nav-tab.js"></script>

    <!-- script js -->
    <script src="~/js/script.js"></script>

    <!-- theme setting js -->
    <script src="~/js/theme-setting.js"></script>
</body>

</html>