@{
    ViewData["Title"] = "Yêu cầu giao hàng";
    Layout = "~/Views/Shared/_AdminWarehouse.cshtml";
}
@model List<Village_Manager.ViewModel.RetailOrderViewModel>

<!DOCTYPE html>
<html lang="vi" dir="ltr">

<head>
    <!-- meta data -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="FamViệt Admin - Hệ thống quản lý yêu cầu giao hàng, giao diện tiếng Việt, dễ sử dụng.">
    <meta name="keywords"
          content="quản lý yêu cầu giao hàng, FamViệt admin, dashboard, quản trị viên, hệ thống quản lý">
    <meta name="author" content="FamViệt Team">
    <link rel="icon" href="~/back-end/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/back-end/images/favicon.png" type="image/x-icon">
    <title>FamViệt - Quản lý yêu cầu giao hàng</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <!-- Linear Icon css -->
    <link rel="stylesheet" href="~/back-end/css/linearicon.css">

    <!-- Fontawesome css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/font-awesome.css">

    <!-- Themify icon css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/themify.css">

    <!--Dropzon css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/dropzone.css">

    <!-- Feather icon css-->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/feather-icon.css">

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/remixicon.css">

    <!-- Select2 css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/select2.min.css">

    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/chartist.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/date-picker.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/bootstrap.css">

    <!-- Bootstrap-tag input css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/bootstrap-tagsinput.css">

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/style.css">
</head>

<body>
    <!-- page-wrapper start -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Body start -->
        <div class="page-body-wrapper">
            <div class="page-body">

                <!-- New Famer Add Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-xxl-10 col-lg-12 m-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2 mb-3">
                                                <h5>All Order</h5>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped">
                                                        <thead class="table-light">
                                                            <tr>
                                                                <th>Id</th>
                                                                <th>Họ tên</th>
                                                                <th>SĐT</th>
                                                                <th>Ngày đặt</th>
                                                                <th>Trạng thái</th>
                                                                <th>Hành động</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @for (int i = 0; i < Model.Count; i++)
                                                            {
                                                                var item = Model[i];
                                                                <tr>
                                                                    <td>@(i + 1)</td>
                                                                    <td>@item.UserName</td>
                                                                    <td>@item.Phone</td>
                                                                    <td>@(item.OrderDate?.ToString("dd/MM/yyyy HH:mm") ?? "Chưa có")</td>
                                                                    <td>@item.Status</td>
                                                                    <td class="text-center">
                                                                        <div class="d-flex justify-content-center gap-2">
                                                                            <a href="/order/detail/@item.Id" class="btn btn-success btn-sm">Xem chi tiết</a>

                                                                            <form method="post" action="/deleteOrder/@item.Id" onsubmit="return confirm('Bạn có chắc chắn muốn xoá đơn hàng này?');">
                                                                                <button type="submit" class="btn btn-danger btn-sm">Xoá</button>
                                                                            </form>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New Famer Add End -->
            </div>
            <!-- Container-fluid End -->
        </div>
        <!-- Page Body End -->
    </div>
    <!-- page-wrapper End -->

</body>

</html>

