@{
    ViewData["Title"] = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_AdminWarehouse.cshtml";
}
@model Village_Manager.ViewModel.RetailOrderItemViewModel

<!DOCTYPE html>
<html lang="vi" dir="ltr">

<head>
    <!-- meta data -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="FamViệt Admin - Hệ thống quản lý chi tiết đơn hàng, giao diện tiếng Việt, dễ sử dụng.">
    <meta name="keywords"
          content="quản lý đơn hàng, FamViệt admin, dashboard, quản trị viên, hệ thống quản lý">
    <meta name="author" content="FamViệt Team">
    <link rel="icon" href="~/back-end/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/back-end/images/favicon.png" type="image/x-icon">
    <title>FamViệt - Chi tiết đơn hàng</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <!-- Linear Icon css -->
    <link rel="stylesheet" href="~/back-end/css/linearicon.css">

    <!-- Fontawesome css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/font-awesome.css">

    <!-- Themify icon css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/themify.css">

    <!--Dropzon css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/dropzone.css">

    <!-- Feather icon css-->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/feather-icon.css">

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/remixicon.css">

    <!-- Select2 css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/select2.min.css">

    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/chartist.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/date-picker.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/bootstrap.css">

    <!-- Bootstrap-tag input css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/bootstrap-tagsinput.css">

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/style.css">
</head>

<body>
    <!-- page-wrapper start -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Body start -->
        <div class="page-body-wrapper">
            <div class="page-body">

                <!-- New Famer Add Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2 mb-3">
                                                <h5>All Order</h5>
                                                @if (ViewBag.Error != null)
                                                {
                                                    <div class="alert alert-warning mt-4">@ViewBag.Error</div>
                                                }
                                                @if (Model != null)
                                                {
                                                    <div class="col-md-4 text-center">
                                                        @if (!string.IsNullOrEmpty(Model.ProductImageUrl))
                                                        {
                                                            <img src="@Model.ProductImageUrl" class="img-fluid rounded" alt="Ảnh sản phẩm" style="max-height: 450px;" width="800" />
                                                        }
                                                        else
                                                        {
                                                            <div class="text-muted">Không có ảnh sản phẩm</div>
                                                        }
                                                    </div>
                                                    <div class="col-md-8">
                                                        <dl class="row">
                                                            <dt class="col-sm-4">Order Id :</dt>
                                                            <dd class="col-sm-8">@Model.OrderId</dd>
                                                            <dt class="col-sm-4">Họ tên:</dt>
                                                            <dd class="col-sm-8">@Model.UserName</dd>

                                                            <dt class="col-sm-4">Số điện thoại:</dt>
                                                            <dd class="col-sm-8">@Model.Phone</dd>

                                                            <dt class="col-sm-4">Địa chỉ:</dt>
                                                            <dd class="col-sm-8">@Model.Address</dd>

                                                            <dt class="col-sm-4">Sản phẩm:</dt>
                                                            <dd class="col-sm-8">@Model.ProductName</dd>
                                                            <dt class="col-sm-4">Số lượng:</dt>
                                                            <dd class="col-sm-8">@Model.Quantity</dd>
                                                            <dt class="col-sm-4">Giá:</dt>
                                                            <dd class="col-sm-8">@Model.UnitPrice</dd>
                                                            <dt class="col-sm-4">Thời gian gửi:</dt>
                                                            <dd class="col-sm-8">@Model.OrderDate?.ToString("dd/MM/yyyy HH:mm")</dd>

                                                            <dt class="col-sm-4">Trạng thái:</dt>
                                                            <dd class="col-sm-8"><span class="badge bg-info text-dark">@Model.Status</span></dd>
                                                        </dl>
                                                    </div>
                                                    <div class="text-center mt-4">
                                                        <div class="d-flex justify-content-start gap-2">
                                                            <a href="/listOrder" class="btn btn-secondary btn-sm">← Quay lại</a>

                                                            <form method="post" action="/order/delete" onsubmit="return confirm('Bạn có chắc chắn muốn xoá đơn hàng này?');" class="d-inline">
                                                                <input type="hidden" name="id" value="@Model.Id" />
                                                                <button type="submit" class="btn btn-danger btn-sm">🗑️ Xoá</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- New Famer Add End -->
                </div>
                <!-- Container-fluid End -->
            </div>
            <!-- Page Body End -->
        </div>
        <!-- page-wrapper End -->

</body>

</html>

