@model List<Village_Manager.Models.Product>
@{
    ViewData["Title"] = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_AdminWarehouse.cshtml";
}
<!DOCTYPE html>
<html lang="vi" dir="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="FamViệt Admin - Hệ thống quản lý sản phẩm, giao diện tiếng Việt, dễ sử dụng.">
    <meta name="keywords"
          content="quản lý sản phẩm, FamViệt admin, dashboard, quản trị viên, hệ thống quản lý">
    <meta name="author" content="FamViệt Team">
    <link rel="icon" href="~/back-end/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/back-end/images/favicon.png" type="image/x-icon">
    <title>FamViệt - Quản lý sản phẩm</title>

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <!-- Fontawesome css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/font-awesome.css">

    <!-- Linear Icon css -->
    <link rel="stylesheet" href="~/back-end/css/linearicon.css">

    <!-- Themify icon css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/themify.css">

    <!-- Feather icon css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/feather-icon.css">

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/remixicon.css">

    <!-- Data Table css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/datatables.css">

    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/animate.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/bootstrap.css">

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/style.css">
</head>

<body>
    <!-- tap on top start-->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Container-fluid starts-->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title d-sm-flex d-block">
                                        <h5>Danh sách sản phẩm</h5>

                                        <form action="/searchProduct" method="get" class="mb-3 d-flex justify-content-end">
                                            <input type="text" name="search" class="form-control w-25" placeholder="Tìm kiếm sản phẩm..." value="@Context.Request.Query["search"]" />
                                            <button type="submit" class="btn btn-primary ms-2">Tìm kiếm</button>
                                        </form>
                                        <div class="right-options">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">Nhập</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Xuất</a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-solid" href="@Url.Action("AddProduct", "AdminWarehouse")">Thêm sản phẩm</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="table-responsive">
                                            <table class="table all-package theme-table table-product" id="table_id">
                                                <thead>
                                                    <tr>
                                                        <th>Hình ảnh</th>
                                                        <th>Tên sản phẩm</th>
                                                        <th>Danh mục</th>
                                                        <th>Giá</th>
                                                        <th>Loại sản phẩm</th>
                                                        <th>Tùy chọn</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach(var product in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @if(product.ProductImages != null && product.ProductImages.Any())
                                                                {
                                                                    <img src="@product.ProductImages.FirstOrDefault()?.ImageUrl" style="max-height: 80px;" />

                                                                }
                                                                else
                                                                {
                                                                    <span>Không có hình ảnh</span>
                                                                }
                                                            </td>
                                                            <td>@product.Name</td>
                                                            <td>@product.Category?.Name</td>
                                                            <td>@product.Price</td>
                                                            <td>@product.ProductType</td>
                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a href="/productdetail?id=@product.Id">
                                                                        <i class="ri-eye-line"></i>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                        <a href="/updateproduct?id=@product.Id">
                                                                        <i class="ri-pencil-line"></i>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)" data-bs-toggle="modal"
                                                                         data-bs-target="#deleteModal-@product.Id">
                                                                         <i class="ri-delete-bin-line"></i>
                                                                    </a>
                                                                        <div class="modal fade" id="deleteModal-@product.Id" tabindex="-1" aria-hidden="true">
                                                                            <div class="modal-dialog">
                                                                                <div class="modal-content">
                                                                                    <form asp-action="DeleteConfirmed" asp-controller="AdminWarehouse" method="post">
                                                                                        <div class="modal-header">
                                                                                            <h5 class="modal-title">Xác nhận xoá</h5>
                                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            Bạn có chắc chắn muốn xoá sản phẩm <strong>@product.Name</strong> không?
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <input type="hidden" name="id" value="@product.Id" />
                                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                                                                                            <button type="submit" class="btn btn-danger">Xoá</button>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    }
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->
                <div class="container-fluid">
                </div>
            </div>
        </div>
    </div>
    <!-- page-wrapper End-->
    <!-- Modal Start -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title">Đăng xuất</h5>
                    <p>Bạn có chắc chắn muốn đăng xuất?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                    <div class="button-box">
                        <button type="button" class="btn btn--no" data-bs-dismiss="modal">Không</button>
                        <button type="button" onclick="location.href = 'login.html';"
                                class="btn  btn--yes btn-primary">
                            Có
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->

    <!-- Delete Modal Box End -->

</body>

</html>